CODING/Source/QManagement/BPMConnector/Web References/PosWs/POSWebService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="Login">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="userId" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="password" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="LoginResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="LoginResult" type="tns:Credential" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="Credential">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Status" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Token" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="SearchInvoiceByContractAccount">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="contractAccount" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SearchInvoiceByContractAccountResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SearchInvoiceByContractAccountResult" type="tns:ArrayOfInvoiceInfo" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfInvoiceInfo">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="InvoiceInfo" nillable="true" type="tns:InvoiceInfo" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="InvoiceInfo">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="ContractAccountId" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ContractAccountName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ContractAccountAddress" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="DebtTypeName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="InvoicePeriod" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="PaymentDueDate" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="ToPayTotalAmount" nillable="true" type="s:decimal" />
        </s:sequence>
      </s:complexType>
      <s:element name="AuthInfo" type="tns:AuthInfo" />
      <s:complexType name="AuthInfo">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="UserId" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="AuthToken" type="s:string" />
        </s:sequence>
        <s:anyAttribute />
      </s:complexType>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="LoginSoapIn">
    <wsdl:part name="parameters" element="tns:Login" />
  </wsdl:message>
  <wsdl:message name="LoginSoapOut">
    <wsdl:part name="parameters" element="tns:LoginResponse" />
  </wsdl:message>
  <wsdl:message name="SearchInvoiceByContractAccountSoapIn">
    <wsdl:part name="parameters" element="tns:SearchInvoiceByContractAccount" />
  </wsdl:message>
  <wsdl:message name="SearchInvoiceByContractAccountSoapOut">
    <wsdl:part name="parameters" element="tns:SearchInvoiceByContractAccountResponse" />
  </wsdl:message>
  <wsdl:message name="SearchInvoiceByContractAccountAuthInfo">
    <wsdl:part name="AuthInfo" element="tns:AuthInfo" />
  </wsdl:message>
  <wsdl:portType name="POSWebServiceSoap">
    <wsdl:operation name="Login">
      <wsdl:input message="tns:LoginSoapIn" />
      <wsdl:output message="tns:LoginSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SearchInvoiceByContractAccount">
      <wsdl:input message="tns:SearchInvoiceByContractAccountSoapIn" />
      <wsdl:output message="tns:SearchInvoiceByContractAccountSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="POSWebServiceSoap" type="tns:POSWebServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Login">
      <soap:operation soapAction="http://tempuri.org/Login" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SearchInvoiceByContractAccount">
      <soap:operation soapAction="http://tempuri.org/SearchInvoiceByContractAccount" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="tns:SearchInvoiceByContractAccountAuthInfo" part="AuthInfo" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="POSWebServiceSoap12" type="tns:POSWebServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Login">
      <soap12:operation soapAction="http://tempuri.org/Login" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SearchInvoiceByContractAccount">
      <soap12:operation soapAction="http://tempuri.org/SearchInvoiceByContractAccount" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
        <soap12:header message="tns:SearchInvoiceByContractAccountAuthInfo" part="AuthInfo" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="POSWebService">
    <wsdl:port name="POSWebServiceSoap" binding="tns:POSWebServiceSoap">
      <soap:address location="http://localhost/BPMGatewayService/POSWebService.asmx" />
    </wsdl:port>
    <wsdl:port name="POSWebServiceSoap12" binding="tns:POSWebServiceSoap12">
      <soap12:address location="http://localhost/BPMGatewayService/POSWebService.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>