CODING/Source/Architecture/ArchitectureBS/Web References/NotificationWS/BPMNotificationWS.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="SendNotificationToEmail">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Errorcode" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Message" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="Severity" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="JobID" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="InterfaceID" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="RowCount" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="BranchID" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="SuggMsg" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SendNotificationToEmailResponse">
        <s:complexType />
      </s:element>
      <s:element name="RefreshConfigValue">
        <s:complexType />
      </s:element>
      <s:element name="RefreshConfigValueResponse">
        <s:complexType />
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="SendNotificationToEmailSoapIn">
    <wsdl:part name="parameters" element="tns:SendNotificationToEmail" />
  </wsdl:message>
  <wsdl:message name="SendNotificationToEmailSoapOut">
    <wsdl:part name="parameters" element="tns:SendNotificationToEmailResponse" />
  </wsdl:message>
  <wsdl:message name="RefreshConfigValueSoapIn">
    <wsdl:part name="parameters" element="tns:RefreshConfigValue" />
  </wsdl:message>
  <wsdl:message name="RefreshConfigValueSoapOut">
    <wsdl:part name="parameters" element="tns:RefreshConfigValueResponse" />
  </wsdl:message>
  <wsdl:portType name="BPMNotificationWSSoap">
    <wsdl:operation name="SendNotificationToEmail">
      <wsdl:input message="tns:SendNotificationToEmailSoapIn" />
      <wsdl:output message="tns:SendNotificationToEmailSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="RefreshConfigValue">
      <wsdl:input message="tns:RefreshConfigValueSoapIn" />
      <wsdl:output message="tns:RefreshConfigValueSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BPMNotificationWSSoap" type="tns:BPMNotificationWSSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="SendNotificationToEmail">
      <soap:operation soapAction="http://tempuri.org/SendNotificationToEmail" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RefreshConfigValue">
      <soap:operation soapAction="http://tempuri.org/RefreshConfigValue" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="BPMNotificationWSSoap12" type="tns:BPMNotificationWSSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="SendNotificationToEmail">
      <soap12:operation soapAction="http://tempuri.org/SendNotificationToEmail" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RefreshConfigValue">
      <soap12:operation soapAction="http://tempuri.org/RefreshConfigValue" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="BPMNotificationWS">
    <wsdl:port name="BPMNotificationWSSoap" binding="tns:BPMNotificationWSSoap">
      <soap:address location="http://localhost/BPMNotification/BPMNotificationWS.asmx" />
    </wsdl:port>
    <wsdl:port name="BPMNotificationWSSoap12" binding="tns:BPMNotificationWSSoap12">
      <soap12:address location="http://localhost/BPMNotification/BPMNotificationWS.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>