CODING/Source/PaymentManagementModule/PaymentManagementModule.SG/Service References/APReportWCF/APReportWCFService21.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:tns="http://tempuri.org" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" targetNamespace="http://tempuri.org" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost/BPMService/PaymentMnt/APReportWCFService.svc?xsd=xsd0" namespace="http://tempuri.org" />
      <xsd:import schemaLocation="http://localhost/BPMService/PaymentMnt/APReportWCFService.svc?xsd=xsd4" />
      <xsd:import schemaLocation="http://localhost/BPMService/PaymentMnt/APReportWCFService.svc?xsd=xsd5" namespace="http://schemas.datacontract.org/2004/07/PEA.BPM.Architecture.ArchitectureInterface.BusinessEntities" />
      <xsd:import schemaLocation="http://localhost/BPMService/PaymentMnt/APReportWCFService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost/BPMService/PaymentMnt/APReportWCFService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/PEA.BPM.PaymentManagementModule.Interface.BusinessEntities.Reports" />
      <xsd:import schemaLocation="http://localhost/BPMService/PaymentMnt/APReportWCFService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/PEA.BPM.Architecture.CommonUtilities" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IAPReportWCFService_GetReportAP_Compress_InputMessage">
    <wsdl:part name="parameters" element="tns:GetReportAP_Compress" />
  </wsdl:message>
  <wsdl:message name="IAPReportWCFService_GetReportAP_Compress_InputMessage_Headers">
    <wsdl:part name="AuthInfoValue" element="AuthInfoValue" />
  </wsdl:message>
  <wsdl:message name="IAPReportWCFService_GetReportAP_Compress_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetReportAP_CompressResponse" />
  </wsdl:message>
  <wsdl:message name="IAPReportWCFService_GetReportAP_Compress_BPMApplicationExceptionInfoFault_FaultMessage">
    <wsdl:part xmlns:q1="http://schemas.datacontract.org/2004/07/PEA.BPM.Architecture.ArchitectureInterface.BusinessEntities" name="detail" element="q1:BPMApplicationExceptionInfo" />
  </wsdl:message>
  <wsdl:portType name="IAPReportWCFService">
    <wsdl:operation name="GetReportAP_Compress">
      <wsdl:input wsaw:Action="http://tempuri.org/IAPReportWCFService/GetReportAP_Compress" message="tns:IAPReportWCFService_GetReportAP_Compress_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAPReportWCFService/GetReportAP_CompressResponse" message="tns:IAPReportWCFService_GetReportAP_Compress_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IAPReportWCFService/GetReportAP_CompressBPMApplicationExceptionInfoFault" name="BPMApplicationExceptionInfoFault" message="tns:IAPReportWCFService_GetReportAP_Compress_BPMApplicationExceptionInfoFault_FaultMessage" />
    </wsdl:operation>
  </wsdl:portType>
</wsdl:definitions>