CODING/Source/PaymentManagementModule/PaymentManagementModule.SG/Service References/APReportWCF/APReportWCFService62.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/PEA.BPM.PaymentManagementModule.Interface.BusinessEntities.Reports" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/PEA.BPM.PaymentManagementModule.Interface.BusinessEntities.Reports" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="APParam">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:ReportParam">
        <xs:sequence>
          <xs:element minOccurs="0" name="BranchId" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="cashierId" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="posId" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="TransFromDate" nillable="true" type="xs:dateTime" />
          <xs:element minOccurs="0" name="TransToDate" nillable="true" type="xs:dateTime" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="APParam" nillable="true" type="tns:APParam" />
  <xs:complexType name="ReportParam">
    <xs:sequence>
      <xs:element minOccurs="0" name="Report" type="tns:ReportName" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ReportParam" nillable="true" type="tns:ReportParam" />
  <xs:simpleType name="ReportName">
    <xs:restriction base="xs:string">
      <xs:enumeration value="CAC01_1" />
      <xs:enumeration value="CAC01_2" />
      <xs:enumeration value="CAC03_1" />
      <xs:enumeration value="CAC03_2" />
      <xs:enumeration value="CAC03_3" />
      <xs:enumeration value="CAC03_4" />
      <xs:enumeration value="CAC04_1" />
      <xs:enumeration value="CAC04_2" />
      <xs:enumeration value="CAC04_3" />
      <xs:enumeration value="CAC04_4" />
      <xs:enumeration value="CAC05_1" />
      <xs:enumeration value="CAC05_2" />
      <xs:enumeration value="CAC06_1" />
      <xs:enumeration value="CAC06_2" />
      <xs:enumeration value="CAC06_3" />
      <xs:enumeration value="CAC07_1" />
      <xs:enumeration value="CAC07_2" />
      <xs:enumeration value="CAC09_1" />
      <xs:enumeration value="CAC09_2" />
      <xs:enumeration value="CAC10" />
      <xs:enumeration value="CAC11" />
      <xs:enumeration value="CAC12" />
      <xs:enumeration value="CAC13" />
      <xs:enumeration value="CAC14" />
      <xs:enumeration value="AP" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="ReportName" nillable="true" type="tns:ReportName" />
</xs:schema>