CODING/Source/PaymentManagementModule/PaymentManagementModule.SG/Service References/APReportWCF/APReportWCFService63.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org" elementFormDefault="qualified" targetNamespace="http://tempuri.org" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost/BPMService/PaymentMnt/APReportWCFService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/PEA.BPM.PaymentManagementModule.Interface.BusinessEntities.Reports" />
  <xs:import schemaLocation="http://localhost/BPMService/PaymentMnt/APReportWCFService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/PEA.BPM.Architecture.CommonUtilities" />
  <xs:element name="GetReportAP_Compress">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/PEA.BPM.PaymentManagementModule.Interface.BusinessEntities.Reports" minOccurs="0" name="param" nillable="true" type="q1:APParam" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetReportAP_CompressResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/PEA.BPM.Architecture.CommonUtilities" minOccurs="0" name="GetReportAP_CompressResult" nillable="true" type="q2:CompressData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>