CODING/Source/AgencyManagementModule/AgencyManagementModule.SG/Service References/CreateBillbookWCF/CreateBillbookWCFService12.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org" elementFormDefault="qualified" targetNamespace="http://tempuri.org" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost/BPMService/AGENCY/CreateBillbookWCFService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/PEA.BPM.Architecture.CommonUtilities" />
  <xs:import schemaLocation="http://localhost/BPMService/AGENCY/CreateBillbookWCFService.svc?xsd=xsd5" namespace="http://schemas.datacontract.org/2004/07/PEA.BPM.AgencyManagementModule.Interface.BusinessEntities" />
  <xs:import schemaLocation="http://localhost/BPMService/AGENCY/CreateBillbookWCFService.svc?xsd=xsd6" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:import schemaLocation="http://localhost/BPMService/AGENCY/CreateBillbookWCFService.svc?xsd=xsd7" namespace="http://schemas.datacontract.org/2004/07/PEA.BPM.AgencyManagementModule.Interface.Constants" />
  <xs:element name="RetreiveBookSummary_Compress">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="billBookId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="period" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RetreiveBookSummary_CompressResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/PEA.BPM.Architecture.CommonUtilities" minOccurs="0" name="RetreiveBookSummary_CompressResult" nillable="true" type="q1:CompressData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EmployeeSearchInfo">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="employeeId" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EmployeeSearchInfoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/PEA.BPM.AgencyManagementModule.Interface.BusinessEntities" minOccurs="0" name="EmployeeSearchInfoResult" nillable="true" type="q2:AgentInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EmployeeSearchInfo_Compress">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="employeeId" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EmployeeSearchInfo_CompressResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/PEA.BPM.Architecture.CommonUtilities" minOccurs="0" name="EmployeeSearchInfo_CompressResult" nillable="true" type="q3:CompressData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LoadBookItemValidationData">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="agentId" nillable="true" type="q4:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LoadBookItemValidationDataResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/PEA.BPM.AgencyManagementModule.Interface.BusinessEntities" minOccurs="0" name="LoadBookItemValidationDataResult" nillable="true" type="q5:ArrayOfHashInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LoadBookItemValidationData_Compress">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/PEA.BPM.Architecture.CommonUtilities" minOccurs="0" name="agentId" nillable="true" type="q6:CompressData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LoadBookItemValidationData_CompressResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/PEA.BPM.Architecture.CommonUtilities" minOccurs="0" name="LoadBookItemValidationData_CompressResult" nillable="true" type="q7:CompressData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="IsReadyToCancelBillBook">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="billBookId" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="IsReadyToCancelBillBookResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="IsReadyToCancelBillBookResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetNewBillBookId">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="runningBranchId" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetNewBillBookIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetNewBillBookIdResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BookSearchAgenctInfo">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="agentId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="period" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BookSearchAgenctInfoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/PEA.BPM.AgencyManagementModule.Interface.BusinessEntities" minOccurs="0" name="BookSearchAgenctInfoResult" nillable="true" type="q8:AgentInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BookSearchAgenctInfo_Compress">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="agentId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="period" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BookSearchAgenctInfo_CompressResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/PEA.BPM.Architecture.CommonUtilities" minOccurs="0" name="BookSearchAgenctInfo_CompressResult" nillable="true" type="q9:CompressData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DisplayBillBookSummarizeCallingBill">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/PEA.BPM.AgencyManagementModule.Interface.BusinessEntities" minOccurs="0" name="bookItemListInfo" nillable="true" type="q10:BillBookItemListInputInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DisplayBillBookSummarizeCallingBillResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/PEA.BPM.AgencyManagementModule.Interface.BusinessEntities" minOccurs="0" name="DisplayBillBookSummarizeCallingBillResult" nillable="true" type="q11:ArrayOfCallingBillSummaryInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DisplayBillBookSummarizeCallingBill_Compress">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/PEA.BPM.Architecture.CommonUtilities" minOccurs="0" name="bookItemListInfo" nillable="true" type="q12:CompressData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DisplayBillBookSummarizeCallingBill_CompressResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q13="http://schemas.datacontract.org/2004/07/PEA.BPM.Architecture.CommonUtilities" minOccurs="0" name="DisplayBillBookSummarizeCallingBill_CompressResult" nillable="true" type="q13:CompressData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DisplayBillBookCallingBill">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q14="http://schemas.datacontract.org/2004/07/PEA.BPM.AgencyManagementModule.Interface.BusinessEntities" minOccurs="0" name="bookItemListInfo" nillable="true" type="q14:BillBookItemListInputInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DisplayBillBookCallingBillResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q15="http://schemas.datacontract.org/2004/07/PEA.BPM.AgencyManagementModule.Interface.BusinessEntities" minOccurs="0" name="DisplayBillBookCallingBillResult" nillable="true" type="q15:ArrayOfCallingBillInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DisplayBillBookCallingBill_Compress">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q16="http://schemas.datacontract.org/2004/07/PEA.BPM.Architecture.CommonUtilities" minOccurs="0" name="bookItemListInfo" nillable="true" type="q16:CompressData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DisplayBillBookCallingBill_CompressResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q17="http://schemas.datacontract.org/2004/07/PEA.BPM.Architecture.CommonUtilities" minOccurs="0" name="DisplayBillBookCallingBill_CompressResult" nillable="true" type="q17:CompressData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DisplayBillBookNoneCallingBill">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q18="http://schemas.datacontract.org/2004/07/PEA.BPM.AgencyManagementModule.Interface.BusinessEntities" minOccurs="0" name="bookItemListInfo" nillable="true" type="q18:BillBookItemListInputInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DisplayBillBookNoneCallingBillResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q19="http://schemas.datacontract.org/2004/07/PEA.BPM.AgencyManagementModule.Interface.BusinessEntities" minOccurs="0" name="DisplayBillBookNoneCallingBillResult" nillable="true" type="q19:ArrayOfCallingBillInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DisplayBillBookNoneCallingBill_Compress">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q20="http://schemas.datacontract.org/2004/07/PEA.BPM.Architecture.CommonUtilities" minOccurs="0" name="bookItemListInfo" nillable="true" type="q20:CompressData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DisplayBillBookNoneCallingBill_CompressResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q21="http://schemas.datacontract.org/2004/07/PEA.BPM.Architecture.CommonUtilities" minOccurs="0" name="DisplayBillBookNoneCallingBill_CompressResult" nillable="true" type="q21:CompressData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DisplayBillBookLineBill">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q22="http://schemas.datacontract.org/2004/07/PEA.BPM.AgencyManagementModule.Interface.BusinessEntities" minOccurs="0" name="bookItemListInfo" nillable="true" type="q22:BillBookItemListInputInfo" />
        <xs:element xmlns:q23="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="line" nillable="true" type="q23:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DisplayBillBookLineBillResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q24="http://schemas.datacontract.org/2004/07/PEA.BPM.AgencyManagementModule.Interface.BusinessEntities" minOccurs="0" name="DisplayBillBookLineBillResult" nillable="true" type="q24:ArrayOfCallingBillInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DisplayBillBookLineBill_Compress">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q25="http://schemas.datacontract.org/2004/07/PEA.BPM.Architecture.CommonUtilities" minOccurs="0" name="bookItemListInfo" nillable="true" type="q25:CompressData" />
        <xs:element xmlns:q26="http://schemas.datacontract.org/2004/07/PEA.BPM.Architecture.CommonUtilities" minOccurs="0" name="line" nillable="true" type="q26:CompressData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DisplayBillBookLineBill_CompressResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q27="http://schemas.datacontract.org/2004/07/PEA.BPM.Architecture.CommonUtilities" minOccurs="0" name="DisplayBillBookLineBill_CompressResult" nillable="true" type="q27:CompressData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DisplayBillBookLineNoBill">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q28="http://schemas.datacontract.org/2004/07/PEA.BPM.AgencyManagementModule.Interface.BusinessEntities" minOccurs="0" name="bookItemListInfo" nillable="true" type="q28:BillBookItemListInputInfo" />
        <xs:element xmlns:q29="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="line" nillable="true" type="q29:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DisplayBillBookLineNoBillResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q30="http://schemas.datacontract.org/2004/07/PEA.BPM.AgencyManagementModule.Interface.BusinessEntities" minOccurs="0" name="DisplayBillBookLineNoBillResult" nillable="true" type="q30:ArrayOfCallingBillInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DisplayBillBookLineNoBill_Compress">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q31="http://schemas.datacontract.org/2004/07/PEA.BPM.Architecture.CommonUtilities" minOccurs="0" name="bookItemListInfo" nillable="true" type="q31:CompressData" />
        <xs:element xmlns:q32="http://schemas.datacontract.org/2004/07/PEA.BPM.Architecture.CommonUtilities" minOccurs="0" name="line" nillable="true" type="q32:CompressData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DisplayBillBookLineNoBill_CompressResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q33="http://schemas.datacontract.org/2004/07/PEA.BPM.Architecture.CommonUtilities" minOccurs="0" name="DisplayBillBookLineNoBill_CompressResult" nillable="true" type="q33:CompressData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateBillBookAndSendPrintEvent">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q34="http://schemas.datacontract.org/2004/07/PEA.BPM.AgencyManagementModule.Interface.BusinessEntities" minOccurs="0" name="billBookParem" nillable="true" type="q34:BillBookItemListInputInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateBillBookAndSendPrintEventResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q35="http://schemas.datacontract.org/2004/07/PEA.BPM.AgencyManagementModule.Interface.BusinessEntities" minOccurs="0" name="CreateBillBookAndSendPrintEventResult" nillable="true" type="q35:BillBookHeaderInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateBillBookAndSendPrintEvent_Compress">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q36="http://schemas.datacontract.org/2004/07/PEA.BPM.Architecture.CommonUtilities" minOccurs="0" name="billBookParem" nillable="true" type="q36:CompressData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateBillBookAndSendPrintEvent_CompressResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q37="http://schemas.datacontract.org/2004/07/PEA.BPM.Architecture.CommonUtilities" minOccurs="0" name="CreateBillBookAndSendPrintEvent_CompressResult" nillable="true" type="q37:CompressData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LoadPastBillBookInfo">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="pastBillBookId" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LoadPastBillBookInfoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q38="http://schemas.datacontract.org/2004/07/PEA.BPM.AgencyManagementModule.Interface.BusinessEntities" minOccurs="0" name="LoadPastBillBookInfoResult" nillable="true" type="q38:BillBookItemListInputInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LoadPastBillBookInfo_Compress">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="pastBillBookId" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LoadPastBillBookInfo_CompressResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q39="http://schemas.datacontract.org/2004/07/PEA.BPM.Architecture.CommonUtilities" minOccurs="0" name="LoadPastBillBookInfo_CompressResult" nillable="true" type="q39:CompressData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CheckExistingReceiveCount">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q40="http://schemas.datacontract.org/2004/07/PEA.BPM.Architecture.CommonUtilities" minOccurs="0" name="bookItemListInfo" nillable="true" type="q40:CompressData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CheckExistingReceiveCountResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CheckExistingReceiveCountResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="IsBillBookAlreadyCheckedIn">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="bookId" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="IsBillBookAlreadyCheckedInResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="IsBillBookAlreadyCheckedInResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAgencyBookDepositInfo">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="agentId" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAgencyBookDepositInfoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q41="http://schemas.datacontract.org/2004/07/PEA.BPM.AgencyManagementModule.Interface.BusinessEntities" minOccurs="0" name="GetAgencyBookDepositInfoResult" nillable="true" type="q41:AgencyBookDepositAmountInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAgencyBookDepositInfo_Compress">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="agentId" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAgencyBookDepositInfo_CompressResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q42="http://schemas.datacontract.org/2004/07/PEA.BPM.Architecture.CommonUtilities" minOccurs="0" name="GetAgencyBookDepositInfo_CompressResult" nillable="true" type="q42:CompressData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMruByCaId">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="caId" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMruByCaIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q43="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="GetMruByCaIdResult" nillable="true" type="q43:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAgentBACode">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="agencyTechBranchId" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAgentBACodeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetAgentBACodeResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LoadBillBookList">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q44="http://schemas.datacontract.org/2004/07/PEA.BPM.AgencyManagementModule.Interface.Constants" minOccurs="0" name="status" type="q44:BookSearchStatusEnum" />
        <xs:element minOccurs="0" name="branchId" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LoadBillBookListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q45="http://schemas.datacontract.org/2004/07/PEA.BPM.AgencyManagementModule.Interface.BusinessEntities" minOccurs="0" name="LoadBillBookListResult" nillable="true" type="q45:ArrayOfBillbookInfoReprint" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LoadBillBookList_Compress">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q46="http://schemas.datacontract.org/2004/07/PEA.BPM.Architecture.CommonUtilities" minOccurs="0" name="status" nillable="true" type="q46:CompressData" />
        <xs:element minOccurs="0" name="branchId" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LoadBillBookList_CompressResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q47="http://schemas.datacontract.org/2004/07/PEA.BPM.Architecture.CommonUtilities" minOccurs="0" name="LoadBillBookList_CompressResult" nillable="true" type="q47:CompressData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LoadBillBookByIdKeyword">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q48="http://schemas.datacontract.org/2004/07/PEA.BPM.AgencyManagementModule.Interface.BusinessEntities" minOccurs="0" name="searchCondition" nillable="true" type="q48:BillbookInfoReprint" />
        <xs:element minOccurs="0" name="branchId" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LoadBillBookByIdKeywordResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q49="http://schemas.datacontract.org/2004/07/PEA.BPM.AgencyManagementModule.Interface.BusinessEntities" minOccurs="0" name="LoadBillBookByIdKeywordResult" nillable="true" type="q49:ArrayOfBillbookInfoReprint" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LoadBillBookByIdKeyword_Compress">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q50="http://schemas.datacontract.org/2004/07/PEA.BPM.Architecture.CommonUtilities" minOccurs="0" name="searchCondition" nillable="true" type="q50:CompressData" />
        <xs:element minOccurs="0" name="branchId" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LoadBillBookByIdKeyword_CompressResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q51="http://schemas.datacontract.org/2004/07/PEA.BPM.Architecture.CommonUtilities" minOccurs="0" name="LoadBillBookByIdKeyword_CompressResult" nillable="true" type="q51:CompressData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="IsOverLimitAgentDeposit">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q52="http://schemas.datacontract.org/2004/07/PEA.BPM.AgencyManagementModule.Interface.BusinessEntities" minOccurs="0" name="billBookParem" nillable="true" type="q52:BillBookItemListInputInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="IsOverLimitAgentDepositResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q53="http://schemas.datacontract.org/2004/07/PEA.BPM.AgencyManagementModule.Interface.BusinessEntities" minOccurs="0" name="IsOverLimitAgentDepositResult" nillable="true" type="q53:DepositBillBookAmountInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="IsOverLimitAgentDeposit_Compress">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q54="http://schemas.datacontract.org/2004/07/PEA.BPM.Architecture.CommonUtilities" minOccurs="0" name="billBookParem" nillable="true" type="q54:CompressData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="IsOverLimitAgentDeposit_CompressResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q55="http://schemas.datacontract.org/2004/07/PEA.BPM.Architecture.CommonUtilities" minOccurs="0" name="IsOverLimitAgentDeposit_CompressResult" nillable="true" type="q55:CompressData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CancelBillBook">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="bookId" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CancelBillBookResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CancelBillBookResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUsedDeposit">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="agentId" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUsedDepositResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetUsedDepositResult" nillable="true" type="xs:decimal" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="IsAlreadyAdvPaid">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="billBookId" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="IsAlreadyAdvPaidResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="IsAlreadyAdvPaidResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RetreiveBookDetail">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="billBookId" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RetreiveBookDetailResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q56="http://schemas.datacontract.org/2004/07/PEA.BPM.AgencyManagementModule.Interface.BusinessEntities" minOccurs="0" name="RetreiveBookDetailResult" nillable="true" type="q56:ArrayOfCallingBillInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RetreiveBookDetail_Compress">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="billBookId" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RetreiveBookDetail_CompressResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q57="http://schemas.datacontract.org/2004/07/PEA.BPM.Architecture.CommonUtilities" minOccurs="0" name="RetreiveBookDetail_CompressResult" nillable="true" type="q57:CompressData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RetreiveBookLineDetail">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="billBookId" nillable="true" type="xs:string" />
        <xs:element xmlns:q58="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="line" nillable="true" type="q58:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RetreiveBookLineDetailResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q59="http://schemas.datacontract.org/2004/07/PEA.BPM.AgencyManagementModule.Interface.BusinessEntities" minOccurs="0" name="RetreiveBookLineDetailResult" nillable="true" type="q59:ArrayOfCallingBillInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RetreiveBookLineDetail_Compress">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="billBookId" nillable="true" type="xs:string" />
        <xs:element xmlns:q60="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="line" nillable="true" type="q60:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RetreiveBookLineDetail_CompressResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q61="http://schemas.datacontract.org/2004/07/PEA.BPM.Architecture.CommonUtilities" minOccurs="0" name="RetreiveBookLineDetail_CompressResult" nillable="true" type="q61:CompressData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RetreiveBookSummary">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="billBookId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="period" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RetreiveBookSummaryResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q62="http://schemas.datacontract.org/2004/07/PEA.BPM.AgencyManagementModule.Interface.BusinessEntities" minOccurs="0" name="RetreiveBookSummaryResult" nillable="true" type="q62:ArrayOfCallingBillSummaryInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>