CODING/Source/SmartPlus/PaymentSmartPlus.SG/Web References/OneTouch/css_bpm.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="SelectReqCharge">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="NotificationNo" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SelectReqChargeResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SelectReqChargeResult" type="tns:ReqCharge" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ReqCharge">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="ReqChargeRecord">
            <s:complexType>
              <s:sequence>
                <s:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
                <s:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
              </s:sequence>
            </s:complexType>
          </s:element>
        </s:sequence>
      </s:complexType>
      <s:element name="UpdateReqCharge">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="NotificationNo" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="InvoiceNo" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="DebtId" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="Vat" type="s:decimal" />
            <s:element minOccurs="1" maxOccurs="1" name="Amount" type="s:decimal" />
            <s:element minOccurs="0" maxOccurs="1" name="ReceiptId" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UpdateReqChargeResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="UpdateReqChargeResult" type="tns:UpdateStatus" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="UpdateStatus">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Return" type="s:string" />
        </s:sequence>
      </s:complexType>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="SelectReqChargeSoapIn">
    <wsdl:part name="parameters" element="tns:SelectReqCharge" />
  </wsdl:message>
  <wsdl:message name="SelectReqChargeSoapOut">
    <wsdl:part name="parameters" element="tns:SelectReqChargeResponse" />
  </wsdl:message>
  <wsdl:message name="UpdateReqChargeSoapIn">
    <wsdl:part name="parameters" element="tns:UpdateReqCharge" />
  </wsdl:message>
  <wsdl:message name="UpdateReqChargeSoapOut">
    <wsdl:part name="parameters" element="tns:UpdateReqChargeResponse" />
  </wsdl:message>
  <wsdl:portType name="CSS_BPMSoap">
    <wsdl:operation name="SelectReqCharge">
      <wsdl:input message="tns:SelectReqChargeSoapIn" />
      <wsdl:output message="tns:SelectReqChargeSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="UpdateReqCharge">
      <wsdl:input message="tns:UpdateReqChargeSoapIn" />
      <wsdl:output message="tns:UpdateReqChargeSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="CSS_BPMSoap" type="tns:CSS_BPMSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="SelectReqCharge">
      <soap:operation soapAction="http://tempuri.org/SelectReqCharge" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateReqCharge">
      <soap:operation soapAction="http://tempuri.org/UpdateReqCharge" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="CSS_BPMSoap12" type="tns:CSS_BPMSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="SelectReqCharge">
      <soap12:operation soapAction="http://tempuri.org/SelectReqCharge" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateReqCharge">
      <soap12:operation soapAction="http://tempuri.org/UpdateReqCharge" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="CSS_BPM">
    <wsdl:port name="CSS_BPMSoap" binding="tns:CSS_BPMSoap">
      <soap:address location="http://172.30.7.139/css_bpm.asmx" />
    </wsdl:port>
    <wsdl:port name="CSS_BPMSoap12" binding="tns:CSS_BPMSoap12">
      <soap12:address location="http://172.30.7.139/css_bpm.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>