CODING/Source/BillPrintingModule/BillPrintingModule.SG/Service References/BillPrintingWCF/BillPrintingWCFService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org" elementFormDefault="qualified" targetNamespace="http://tempuri.org" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost/BPMService/BLAN/BillPrintingWCFService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/PEA.BPM.BillPrintingModule.Interface.BusinessEntities" />
  <xs:import schemaLocation="http://localhost/BPMService/BLAN/BillPrintingWCFService.svc?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/PEA.BPM.Architecture.CommonUtilities" />
  <xs:element name="PrintBlueBill_NoCompress">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/PEA.BPM.BillPrintingModule.Interface.BusinessEntities" minOccurs="0" name="param" nillable="true" type="q1:BillPrintingConditionParam" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PrintBlueBill_NoCompressResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/PEA.BPM.BillPrintingModule.Interface.BusinessEntities" minOccurs="0" name="PrintBlueBill_NoCompressResult" nillable="true" type="q2:ArrayOfBills" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PrintBlueBill">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/PEA.BPM.BillPrintingModule.Interface.BusinessEntities" minOccurs="0" name="param" nillable="true" type="q3:BillPrintingConditionParam" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PrintBlueBillResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/PEA.BPM.Architecture.CommonUtilities" minOccurs="0" name="PrintBlueBillResult" nillable="true" type="q4:CompressData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PrintGreenBill">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/PEA.BPM.BillPrintingModule.Interface.BusinessEntities" minOccurs="0" name="param" nillable="true" type="q5:BillPrintingConditionParam" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PrintGreenBillResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/PEA.BPM.Architecture.CommonUtilities" minOccurs="0" name="PrintGreenBillResult" nillable="true" type="q6:CompressData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PrintA4Bill_NoCompress">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/PEA.BPM.BillPrintingModule.Interface.BusinessEntities" minOccurs="0" name="param" nillable="true" type="q7:BillPrintingConditionParam" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PrintA4Bill_NoCompressResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/PEA.BPM.BillPrintingModule.Interface.BusinessEntities" minOccurs="0" name="PrintA4Bill_NoCompressResult" nillable="true" type="q8:ArrayOfBills" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PrintA4Bill">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/PEA.BPM.BillPrintingModule.Interface.BusinessEntities" minOccurs="0" name="param" nillable="true" type="q9:BillPrintingConditionParam" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PrintA4BillResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/PEA.BPM.Architecture.CommonUtilities" minOccurs="0" name="PrintA4BillResult" nillable="true" type="q10:CompressData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ReprintBlueBill">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/PEA.BPM.BillPrintingModule.Interface.BusinessEntities" minOccurs="0" name="param" nillable="true" type="q11:BillPrintingConditionParam" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ReprintBlueBillResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/PEA.BPM.Architecture.CommonUtilities" minOccurs="0" name="ReprintBlueBillResult" nillable="true" type="q12:CompressData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ReprintGreenBill">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q13="http://schemas.datacontract.org/2004/07/PEA.BPM.BillPrintingModule.Interface.BusinessEntities" minOccurs="0" name="param" nillable="true" type="q13:BillPrintingConditionParam" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ReprintGreenBillResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q14="http://schemas.datacontract.org/2004/07/PEA.BPM.Architecture.CommonUtilities" minOccurs="0" name="ReprintGreenBillResult" nillable="true" type="q14:CompressData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PrintGroupInvoiceA4Bill">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q15="http://schemas.datacontract.org/2004/07/PEA.BPM.BillPrintingModule.Interface.BusinessEntities" minOccurs="0" name="param" nillable="true" type="q15:BillPrintingConditionParam" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PrintGroupInvoiceA4BillResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q16="http://schemas.datacontract.org/2004/07/PEA.BPM.Architecture.CommonUtilities" minOccurs="0" name="PrintGroupInvoiceA4BillResult" nillable="true" type="q16:CompressData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ReprintGroupInvoiceA4Bill">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q17="http://schemas.datacontract.org/2004/07/PEA.BPM.BillPrintingModule.Interface.BusinessEntities" minOccurs="0" name="param" nillable="true" type="q17:BillPrintingConditionParam" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ReprintGroupInvoiceA4BillResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q18="http://schemas.datacontract.org/2004/07/PEA.BPM.Architecture.CommonUtilities" minOccurs="0" name="ReprintGroupInvoiceA4BillResult" nillable="true" type="q18:CompressData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PrintGreenBillByBank">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q19="http://schemas.datacontract.org/2004/07/PEA.BPM.BillPrintingModule.Interface.BusinessEntities" minOccurs="0" name="param" nillable="true" type="q19:BillPrintingConditionParam" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PrintGreenBillByBankResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q20="http://schemas.datacontract.org/2004/07/PEA.BPM.Architecture.CommonUtilities" minOccurs="0" name="PrintGreenBillByBankResult" nillable="true" type="q20:CompressData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ReprintGreenBillByBank">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q21="http://schemas.datacontract.org/2004/07/PEA.BPM.BillPrintingModule.Interface.BusinessEntities" minOccurs="0" name="param" nillable="true" type="q21:BillPrintingConditionParam" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ReprintGreenBillByBankResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q22="http://schemas.datacontract.org/2004/07/PEA.BPM.Architecture.CommonUtilities" minOccurs="0" name="ReprintGreenBillByBankResult" nillable="true" type="q22:CompressData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PrintBlueBillByBank">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q23="http://schemas.datacontract.org/2004/07/PEA.BPM.BillPrintingModule.Interface.BusinessEntities" minOccurs="0" name="param" nillable="true" type="q23:BillPrintingConditionParam" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PrintBlueBillByBankResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q24="http://schemas.datacontract.org/2004/07/PEA.BPM.Architecture.CommonUtilities" minOccurs="0" name="PrintBlueBillByBankResult" nillable="true" type="q24:CompressData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ReprintBlueBillByBank">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q25="http://schemas.datacontract.org/2004/07/PEA.BPM.BillPrintingModule.Interface.BusinessEntities" minOccurs="0" name="param" nillable="true" type="q25:BillPrintingConditionParam" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ReprintBlueBillByBankResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q26="http://schemas.datacontract.org/2004/07/PEA.BPM.Architecture.CommonUtilities" minOccurs="0" name="ReprintBlueBillByBankResult" nillable="true" type="q26:CompressData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CheckExistRecord_NoCompress">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q27="http://schemas.datacontract.org/2004/07/PEA.BPM.BillPrintingModule.Interface.BusinessEntities" minOccurs="0" name="param" nillable="true" type="q27:BillPrintingConditionParam" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CheckExistRecord_NoCompressResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q28="http://schemas.datacontract.org/2004/07/PEA.BPM.BillPrintingModule.Interface.BusinessEntities" minOccurs="0" name="CheckExistRecord_NoCompressResult" nillable="true" type="q28:ArrayOfPrintableId" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CheckExistRecord">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q29="http://schemas.datacontract.org/2004/07/PEA.BPM.BillPrintingModule.Interface.BusinessEntities" minOccurs="0" name="param" nillable="true" type="q29:BillPrintingConditionParam" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CheckExistRecordResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q30="http://schemas.datacontract.org/2004/07/PEA.BPM.Architecture.CommonUtilities" minOccurs="0" name="CheckExistRecordResult" nillable="true" type="q30:CompressData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CheckExistReprintRecord">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q31="http://schemas.datacontract.org/2004/07/PEA.BPM.BillPrintingModule.Interface.BusinessEntities" minOccurs="0" name="param" nillable="true" type="q31:BillPrintingConditionParam" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CheckExistReprintRecordResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q32="http://schemas.datacontract.org/2004/07/PEA.BPM.Architecture.CommonUtilities" minOccurs="0" name="CheckExistReprintRecordResult" nillable="true" type="q32:CompressData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CheckExistGroupInvoiceRecord">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q33="http://schemas.datacontract.org/2004/07/PEA.BPM.BillPrintingModule.Interface.BusinessEntities" minOccurs="0" name="param" nillable="true" type="q33:GroupInvoiceParam" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CheckExistGroupInvoiceRecordResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q34="http://schemas.datacontract.org/2004/07/PEA.BPM.Architecture.CommonUtilities" minOccurs="0" name="CheckExistGroupInvoiceRecordResult" nillable="true" type="q34:CompressData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CheckExistReprintGroupInvoiceRecord">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q35="http://schemas.datacontract.org/2004/07/PEA.BPM.BillPrintingModule.Interface.BusinessEntities" minOccurs="0" name="param" nillable="true" type="q35:GroupInvoiceParam" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CheckExistReprintGroupInvoiceRecordResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q36="http://schemas.datacontract.org/2004/07/PEA.BPM.Architecture.CommonUtilities" minOccurs="0" name="CheckExistReprintGroupInvoiceRecordResult" nillable="true" type="q36:CompressData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CheckExistByBank">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q37="http://schemas.datacontract.org/2004/07/PEA.BPM.BillPrintingModule.Interface.BusinessEntities" minOccurs="0" name="param" nillable="true" type="q37:GreenBillParam" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CheckExistByBankResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q38="http://schemas.datacontract.org/2004/07/PEA.BPM.Architecture.CommonUtilities" minOccurs="0" name="CheckExistByBankResult" nillable="true" type="q38:CompressData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CheckExistReprintByBank">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q39="http://schemas.datacontract.org/2004/07/PEA.BPM.BillPrintingModule.Interface.BusinessEntities" minOccurs="0" name="param" nillable="true" type="q39:GreenBillReprintParam" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CheckExistReprintByBankResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q40="http://schemas.datacontract.org/2004/07/PEA.BPM.Architecture.CommonUtilities" minOccurs="0" name="CheckExistReprintByBankResult" nillable="true" type="q40:CompressData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CheckExistGreenReceipt">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q41="http://schemas.datacontract.org/2004/07/PEA.BPM.BillPrintingModule.Interface.BusinessEntities" minOccurs="0" name="param" nillable="true" type="q41:BillPrintingConditionParam" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CheckExistGreenReceiptResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q42="http://schemas.datacontract.org/2004/07/PEA.BPM.Architecture.CommonUtilities" minOccurs="0" name="CheckExistGreenReceiptResult" nillable="true" type="q42:CompressData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CheckExistReprintGreenReceipt">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q43="http://schemas.datacontract.org/2004/07/PEA.BPM.BillPrintingModule.Interface.BusinessEntities" minOccurs="0" name="param" nillable="true" type="q43:BillPrintingConditionParam" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CheckExistReprintGreenReceiptResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q44="http://schemas.datacontract.org/2004/07/PEA.BPM.Architecture.CommonUtilities" minOccurs="0" name="CheckExistReprintGreenReceiptResult" nillable="true" type="q44:CompressData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PrintGreenReceipt">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q45="http://schemas.datacontract.org/2004/07/PEA.BPM.BillPrintingModule.Interface.BusinessEntities" minOccurs="0" name="param" nillable="true" type="q45:BillPrintingConditionParam" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PrintGreenReceiptResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q46="http://schemas.datacontract.org/2004/07/PEA.BPM.Architecture.CommonUtilities" minOccurs="0" name="PrintGreenReceiptResult" nillable="true" type="q46:CompressData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ReprintGreenReceipt">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q47="http://schemas.datacontract.org/2004/07/PEA.BPM.BillPrintingModule.Interface.BusinessEntities" minOccurs="0" name="param" nillable="true" type="q47:BillPrintingConditionParam" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ReprintGreenReceiptResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q48="http://schemas.datacontract.org/2004/07/PEA.BPM.Architecture.CommonUtilities" minOccurs="0" name="ReprintGreenReceiptResult" nillable="true" type="q48:CompressData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PrintSpotBill">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q49="http://schemas.datacontract.org/2004/07/PEA.BPM.BillPrintingModule.Interface.BusinessEntities" minOccurs="0" name="param" nillable="true" type="q49:BillPrintingConditionParam" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PrintSpotBillResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q50="http://schemas.datacontract.org/2004/07/PEA.BPM.Architecture.CommonUtilities" minOccurs="0" name="PrintSpotBillResult" nillable="true" type="q50:CompressData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ReprintSpotBill">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q51="http://schemas.datacontract.org/2004/07/PEA.BPM.BillPrintingModule.Interface.BusinessEntities" minOccurs="0" name="param" nillable="true" type="q51:BillPrintingConditionParam" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ReprintSpotBillResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q52="http://schemas.datacontract.org/2004/07/PEA.BPM.Architecture.CommonUtilities" minOccurs="0" name="ReprintSpotBillResult" nillable="true" type="q52:CompressData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>