CODING/Source/AgencyManagementModule/AgencyManagementModule.SG/Service References/AgencyPlanningWCF/AgencyPlanningWCFService62.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org" elementFormDefault="qualified" targetNamespace="http://tempuri.org" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost/BPMService/AGENCY/AgencyPlanningWCFService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/PEA.BPM.Architecture.CommonUtilities" />
  <xs:import schemaLocation="http://localhost/BPMService/AGENCY/AgencyPlanningWCFService.svc?xsd=xsd5" namespace="http://schemas.datacontract.org/2004/07/PEA.BPM.AgencyManagementModule.Interface.BusinessEntities" />
  <xs:element name="SaveAssignedLineofAgent">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/PEA.BPM.Architecture.CommonUtilities" minOccurs="0" name="asiLineList" nillable="true" type="q1:CompressData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveAssignedLineofAgentResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SaveAssignedLineofAgentResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FindAndDisplayLineOfAgentSearchInfo">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="agentId" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FindAndDisplayLineOfAgentSearchInfoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/PEA.BPM.AgencyManagementModule.Interface.BusinessEntities" minOccurs="0" name="FindAndDisplayLineOfAgentSearchInfoResult" nillable="true" type="q2:ArrayOfLineInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FindAndDisplayLineOfAgentSearchInfo_Compress">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="agentId" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FindAndDisplayLineOfAgentSearchInfo_CompressResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/PEA.BPM.Architecture.CommonUtilities" minOccurs="0" name="FindAndDisplayLineOfAgentSearchInfo_CompressResult" nillable="true" type="q3:CompressData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AcquireAgentAssetSearchInformation">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/PEA.BPM.AgencyManagementModule.Interface.BusinessEntities" minOccurs="0" name="searchInfo" nillable="true" type="q4:AgentSearchInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AcquireAgentAssetSearchInformationResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/PEA.BPM.AgencyManagementModule.Interface.BusinessEntities" minOccurs="0" name="AcquireAgentAssetSearchInformationResult" nillable="true" type="q5:ArrayOfAgentInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AcquireAgentAssetSearchInformation_Compress">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/PEA.BPM.Architecture.CommonUtilities" minOccurs="0" name="searchInfo" nillable="true" type="q6:CompressData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AcquireAgentAssetSearchInformation_CompressResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/PEA.BPM.Architecture.CommonUtilities" minOccurs="0" name="AcquireAgentAssetSearchInformation_CompressResult" nillable="true" type="q7:CompressData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FindAndDisplayBranchByKeyword">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="keyword" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="branchId" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FindAndDisplayBranchByKeywordResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/PEA.BPM.AgencyManagementModule.Interface.BusinessEntities" minOccurs="0" name="FindAndDisplayBranchByKeywordResult" nillable="true" type="q8:ArrayOfPeaInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FindAndDisplayBranchByKeyword_Compress">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="keyword" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="branchId" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FindAndDisplayBranchByKeyword_CompressResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/PEA.BPM.Architecture.CommonUtilities" minOccurs="0" name="FindAndDisplayBranchByKeyword_CompressResult" nillable="true" type="q9:CompressData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FindAndDisplayLineByKeyword">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/PEA.BPM.AgencyManagementModule.Interface.BusinessEntities" minOccurs="0" name="searchInfo" nillable="true" type="q10:LineSearchBoxInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FindAndDisplayLineByKeywordResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/PEA.BPM.AgencyManagementModule.Interface.BusinessEntities" minOccurs="0" name="FindAndDisplayLineByKeywordResult" nillable="true" type="q11:ArrayOfLineInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FindAndDisplayLineByKeyword_Compress">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/PEA.BPM.Architecture.CommonUtilities" minOccurs="0" name="searchInfo" nillable="true" type="q12:CompressData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FindAndDisplayLineByKeyword_CompressResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q13="http://schemas.datacontract.org/2004/07/PEA.BPM.Architecture.CommonUtilities" minOccurs="0" name="FindAndDisplayLineByKeyword_CompressResult" nillable="true" type="q13:CompressData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>