CODING/Source/ToolModule/AdministrativeTool/Web References/ConsolidateWS/ConsolidateWebService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="GetConsolidateDisplay">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="datetime" type="s:dateTime" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetConsolidateDisplayResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetConsolidateDisplayResult">
              <s:complexType>
                <s:sequence>
                  <s:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
                  <s:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="GetConsolidateDisplaySoapIn">
    <wsdl:part name="parameters" element="tns:GetConsolidateDisplay" />
  </wsdl:message>
  <wsdl:message name="GetConsolidateDisplaySoapOut">
    <wsdl:part name="parameters" element="tns:GetConsolidateDisplayResponse" />
  </wsdl:message>
  <wsdl:portType name="ConsolidateWebServiceSoap">
    <wsdl:operation name="GetConsolidateDisplay">
      <wsdl:input message="tns:GetConsolidateDisplaySoapIn" />
      <wsdl:output message="tns:GetConsolidateDisplaySoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ConsolidateWebServiceSoap" type="tns:ConsolidateWebServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetConsolidateDisplay">
      <soap:operation soapAction="http://tempuri.org/GetConsolidateDisplay" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="ConsolidateWebServiceSoap12" type="tns:ConsolidateWebServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetConsolidateDisplay">
      <soap12:operation soapAction="http://tempuri.org/GetConsolidateDisplay" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ConsolidateWebService">
    <wsdl:port name="ConsolidateWebServiceSoap" binding="tns:ConsolidateWebServiceSoap">
      <soap:address location="http://localhost:49898/Consolidate/ConsolidateWebService.asmx" />
    </wsdl:port>
    <wsdl:port name="ConsolidateWebServiceSoap12" binding="tns:ConsolidateWebServiceSoap12">
      <soap12:address location="http://localhost:49898/Consolidate/ConsolidateWebService.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>