CODING/Source/Architecture/ArchitectureSG/Service References/CodeTableWCF/CodeTableWCFService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org" elementFormDefault="qualified" targetNamespace="http://tempuri.org" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost/BPMService/ARCH/CodeTableWCFService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/PEA.BPM.Architecture.CommonUtilities" />
  <xs:element name="GetUpdatedData">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="lastModifiedDt" type="xs:dateTime" />
        <xs:element minOccurs="0" name="branchId" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUpdatedDataResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/PEA.BPM.Architecture.CommonUtilities" minOccurs="0" name="GetUpdatedDataResult" nillable="true" type="q1:CompressData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>