CODING/Source/ToolModule/AdministrativeTool/Web References/OutOfShiftWS/OutOfShiftWebService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="SelectOutOfShift">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="startDt" type="s:dateTime" />
            <s:element minOccurs="1" maxOccurs="1" name="endDt" type="s:dateTime" />
            <s:element minOccurs="0" maxOccurs="1" name="caseCode" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SelectOutOfShiftResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SelectOutOfShiftResult">
              <s:complexType>
                <s:sequence>
                  <s:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
                  <s:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetDBDateTime">
        <s:complexType />
      </s:element>
      <s:element name="GetDBDateTimeResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="GetDBDateTimeResult" type="s:dateTime" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SelectCountOutOfShift">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="stDt" type="s:dateTime" />
            <s:element minOccurs="0" maxOccurs="1" name="caseCode" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SelectCountOutOfShiftResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SelectCountOutOfShiftResult">
              <s:complexType>
                <s:sequence>
                  <s:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
                  <s:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="SelectOutOfShiftSoapIn">
    <wsdl:part name="parameters" element="tns:SelectOutOfShift" />
  </wsdl:message>
  <wsdl:message name="SelectOutOfShiftSoapOut">
    <wsdl:part name="parameters" element="tns:SelectOutOfShiftResponse" />
  </wsdl:message>
  <wsdl:message name="GetDBDateTimeSoapIn">
    <wsdl:part name="parameters" element="tns:GetDBDateTime" />
  </wsdl:message>
  <wsdl:message name="GetDBDateTimeSoapOut">
    <wsdl:part name="parameters" element="tns:GetDBDateTimeResponse" />
  </wsdl:message>
  <wsdl:message name="SelectCountOutOfShiftSoapIn">
    <wsdl:part name="parameters" element="tns:SelectCountOutOfShift" />
  </wsdl:message>
  <wsdl:message name="SelectCountOutOfShiftSoapOut">
    <wsdl:part name="parameters" element="tns:SelectCountOutOfShiftResponse" />
  </wsdl:message>
  <wsdl:portType name="OutOfShiftWebServiceSoap">
    <wsdl:operation name="SelectOutOfShift">
      <wsdl:input message="tns:SelectOutOfShiftSoapIn" />
      <wsdl:output message="tns:SelectOutOfShiftSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetDBDateTime">
      <wsdl:input message="tns:GetDBDateTimeSoapIn" />
      <wsdl:output message="tns:GetDBDateTimeSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SelectCountOutOfShift">
      <wsdl:input message="tns:SelectCountOutOfShiftSoapIn" />
      <wsdl:output message="tns:SelectCountOutOfShiftSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="OutOfShiftWebServiceSoap" type="tns:OutOfShiftWebServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="SelectOutOfShift">
      <soap:operation soapAction="http://tempuri.org/SelectOutOfShift" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDBDateTime">
      <soap:operation soapAction="http://tempuri.org/GetDBDateTime" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SelectCountOutOfShift">
      <soap:operation soapAction="http://tempuri.org/SelectCountOutOfShift" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="OutOfShiftWebServiceSoap12" type="tns:OutOfShiftWebServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="SelectOutOfShift">
      <soap12:operation soapAction="http://tempuri.org/SelectOutOfShift" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDBDateTime">
      <soap12:operation soapAction="http://tempuri.org/GetDBDateTime" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SelectCountOutOfShift">
      <soap12:operation soapAction="http://tempuri.org/SelectCountOutOfShift" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="OutOfShiftWebService">
    <wsdl:port name="OutOfShiftWebServiceSoap" binding="tns:OutOfShiftWebServiceSoap">
      <soap:address location="http://localhost/AdminToolService/OutOfShift/OutOfShiftWebService.asmx" />
    </wsdl:port>
    <wsdl:port name="OutOfShiftWebServiceSoap12" binding="tns:OutOfShiftWebServiceSoap12">
      <soap12:address location="http://localhost/AdminToolService/OutOfShift/OutOfShiftWebService.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>