CODING/Source/SmartPlus/PaymentSmartPlus.SG/Service References/ReportWCF/ReportWCFService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/PEA.BPM.Architecture.CommonUtilities" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/PEA.BPM.Architecture.CommonUtilities" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="AuthInfo">
    <xs:sequence>
      <xs:element minOccurs="0" name="AuthToken" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UserId" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="AuthInfo" nillable="true" type="tns:AuthInfo" />
  <xs:complexType name="CompressData">
    <xs:sequence>
      <xs:element minOccurs="0" name="OriginalSize" type="xs:long" />
      <xs:element minOccurs="0" name="CompressSize" type="xs:int" />
      <xs:element minOccurs="0" name="Data" nillable="true" type="xs:base64Binary" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CompressData" nillable="true" type="tns:CompressData" />
</xs:schema>