CODING/Source/AgencyManagementModule/AgencyManagementModule.SG/Service References/AgencyConfigWCF/AgencyConfigWCFService21.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:tns="http://tempuri.org" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" targetNamespace="http://tempuri.org" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost/BPMService/AGENCY/AgencyConfigWCFService.svc?xsd=xsd0" namespace="http://tempuri.org" />
      <xsd:import schemaLocation="http://localhost/BPMService/AGENCY/AgencyConfigWCFService.svc?xsd=xsd3" />
      <xsd:import schemaLocation="http://localhost/BPMService/AGENCY/AgencyConfigWCFService.svc?xsd=xsd5" namespace="http://schemas.datacontract.org/2004/07/PEA.BPM.Architecture.ArchitectureInterface.BusinessEntities" />
      <xsd:import schemaLocation="http://localhost/BPMService/AGENCY/AgencyConfigWCFService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost/BPMService/AGENCY/AgencyConfigWCFService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/PEA.BPM.Architecture.CommonUtilities" />
      <xsd:import schemaLocation="http://localhost/BPMService/AGENCY/AgencyConfigWCFService.svc?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/PEA.BPM.AgencyManagementModule.Interface.BusinessEntities" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IAgencyConfigWCFService_GetBaseCommissionRate_InputMessage">
    <wsdl:part name="parameters" element="tns:GetBaseCommissionRate" />
  </wsdl:message>
  <wsdl:message name="IAgencyConfigWCFService_GetBaseCommissionRate_InputMessage_Headers">
    <wsdl:part name="AuthInfoValue" element="AuthInfoValue" />
  </wsdl:message>
  <wsdl:message name="IAgencyConfigWCFService_GetBaseCommissionRate_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetBaseCommissionRateResponse" />
  </wsdl:message>
  <wsdl:message name="IAgencyConfigWCFService_GetBaseCommissionRate_BPMApplicationExceptionInfoFault_FaultMessage">
    <wsdl:part xmlns:q1="http://schemas.datacontract.org/2004/07/PEA.BPM.Architecture.ArchitectureInterface.BusinessEntities" name="detail" element="q1:BPMApplicationExceptionInfo" />
  </wsdl:message>
  <wsdl:message name="IAgencyConfigWCFService_UpdateCommissionRate_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateCommissionRate" />
  </wsdl:message>
  <wsdl:message name="IAgencyConfigWCFService_UpdateCommissionRate_InputMessage_Headers">
    <wsdl:part name="AuthInfoValue" element="AuthInfoValue" />
  </wsdl:message>
  <wsdl:message name="IAgencyConfigWCFService_UpdateCommissionRate_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateCommissionRateResponse" />
  </wsdl:message>
  <wsdl:message name="IAgencyConfigWCFService_UpdateCommissionRate_BPMApplicationExceptionInfoFault_FaultMessage">
    <wsdl:part xmlns:q2="http://schemas.datacontract.org/2004/07/PEA.BPM.Architecture.ArchitectureInterface.BusinessEntities" name="detail" element="q2:BPMApplicationExceptionInfo" />
  </wsdl:message>
  <wsdl:portType name="IAgencyConfigWCFService">
    <wsdl:operation name="GetBaseCommissionRate">
      <wsdl:input wsaw:Action="http://tempuri.org/IAgencyConfigWCFService/GetBaseCommissionRate" message="tns:IAgencyConfigWCFService_GetBaseCommissionRate_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAgencyConfigWCFService/GetBaseCommissionRateResponse" message="tns:IAgencyConfigWCFService_GetBaseCommissionRate_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IAgencyConfigWCFService/GetBaseCommissionRateBPMApplicationExceptionInfoFault" name="BPMApplicationExceptionInfoFault" message="tns:IAgencyConfigWCFService_GetBaseCommissionRate_BPMApplicationExceptionInfoFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateCommissionRate">
      <wsdl:input wsaw:Action="http://tempuri.org/IAgencyConfigWCFService/UpdateCommissionRate" message="tns:IAgencyConfigWCFService_UpdateCommissionRate_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAgencyConfigWCFService/UpdateCommissionRateResponse" message="tns:IAgencyConfigWCFService_UpdateCommissionRate_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IAgencyConfigWCFService/UpdateCommissionRateBPMApplicationExceptionInfoFault" name="BPMApplicationExceptionInfoFault" message="tns:IAgencyConfigWCFService_UpdateCommissionRate_BPMApplicationExceptionInfoFault_FaultMessage" />
    </wsdl:operation>
  </wsdl:portType>
</wsdl:definitions>