CODING/Source/BPMIntegration/BPMIntegration.SG/Web References/MasterULWS/MasterIntegrationWebService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="GetUpdateBusinessPartner">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="branchId" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="lastModifiedDate" type="s:dateTime" />
            <s:element minOccurs="1" maxOccurs="1" name="serverDate" type="s:dateTime" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetUpdateBusinessPartnerResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetUpdateBusinessPartnerResult" type="tns:CompressData" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="CompressData">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="OriginalSize" type="s:long" />
          <s:element minOccurs="1" maxOccurs="1" name="CompressSize" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="Data" type="s:base64Binary" />
        </s:sequence>
      </s:complexType>
      <s:element name="AuthenInfo" type="tns:AuthenInfo" />
      <s:complexType name="AuthenInfo">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="UserId" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="AuthToken" type="s:string" />
        </s:sequence>
        <s:anyAttribute />
      </s:complexType>
      <s:element name="GetUpdateBranch">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="branchId" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="lastModifiedDate" type="s:dateTime" />
            <s:element minOccurs="1" maxOccurs="1" name="serverDate" type="s:dateTime" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetUpdateBranchResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetUpdateBranchResult" type="tns:CompressData" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetUpdateMRU">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="branchId" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="lastModifiedDate" type="s:dateTime" />
            <s:element minOccurs="1" maxOccurs="1" name="serverDate" type="s:dateTime" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetUpdateMRUResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetUpdateMRUResult" type="tns:CompressData" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetUpdateMRUPlan">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="branchId" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="lastModifiedDate" type="s:dateTime" />
            <s:element minOccurs="1" maxOccurs="1" name="serverDate" type="s:dateTime" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetUpdateMRUPlanResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetUpdateMRUPlanResult" type="tns:CompressData" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetUpdateContractAccount">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="branchId" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="lastModifiedDate" type="s:dateTime" />
            <s:element minOccurs="1" maxOccurs="1" name="serverDate" type="s:dateTime" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetUpdateContractAccountResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetUpdateContractAccountResult" type="tns:CompressData" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetUpdateEmployee">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="branchId" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="lastModifiedDate" type="s:dateTime" />
            <s:element minOccurs="1" maxOccurs="1" name="serverDate" type="s:dateTime" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetUpdateEmployeeResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetUpdateEmployeeResult" type="tns:CompressData" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetUpdateAgencyAsset">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="branchId" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="lastModifiedDate" type="s:dateTime" />
            <s:element minOccurs="1" maxOccurs="1" name="serverDate" type="s:dateTime" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetUpdateAgencyAssetResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetUpdateAgencyAssetResult" type="tns:CompressData" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetUpdateBank">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="branchId" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="lastModifiedDate" type="s:dateTime" />
            <s:element minOccurs="1" maxOccurs="1" name="serverDate" type="s:dateTime" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetUpdateBankResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetUpdateBankResult" type="tns:CompressData" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetUpdateBankAccount">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="branchId" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="lastModifiedDate" type="s:dateTime" />
            <s:element minOccurs="1" maxOccurs="1" name="serverDate" type="s:dateTime" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetUpdateBankAccountResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetUpdateBankAccountResult" type="tns:CompressData" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetUpdateDebtType">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="branchId" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="lastModifiedDate" type="s:dateTime" />
            <s:element minOccurs="1" maxOccurs="1" name="serverDate" type="s:dateTime" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetUpdateDebtTypeResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetUpdateDebtTypeResult" type="tns:CompressData" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UploadMRUPlan">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="cds" type="tns:CompressData" />
            <s:element minOccurs="0" maxOccurs="1" name="branchId" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UploadMRUPlanResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="UploadMRUPlanResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="GetUpdateBusinessPartnerSoapIn">
    <wsdl:part name="parameters" element="tns:GetUpdateBusinessPartner" />
  </wsdl:message>
  <wsdl:message name="GetUpdateBusinessPartnerSoapOut">
    <wsdl:part name="parameters" element="tns:GetUpdateBusinessPartnerResponse" />
  </wsdl:message>
  <wsdl:message name="GetUpdateBusinessPartnerAuthenInfo">
    <wsdl:part name="AuthenInfo" element="tns:AuthenInfo" />
  </wsdl:message>
  <wsdl:message name="GetUpdateBranchSoapIn">
    <wsdl:part name="parameters" element="tns:GetUpdateBranch" />
  </wsdl:message>
  <wsdl:message name="GetUpdateBranchSoapOut">
    <wsdl:part name="parameters" element="tns:GetUpdateBranchResponse" />
  </wsdl:message>
  <wsdl:message name="GetUpdateBranchAuthenInfo">
    <wsdl:part name="AuthenInfo" element="tns:AuthenInfo" />
  </wsdl:message>
  <wsdl:message name="GetUpdateMRUSoapIn">
    <wsdl:part name="parameters" element="tns:GetUpdateMRU" />
  </wsdl:message>
  <wsdl:message name="GetUpdateMRUSoapOut">
    <wsdl:part name="parameters" element="tns:GetUpdateMRUResponse" />
  </wsdl:message>
  <wsdl:message name="GetUpdateMRUAuthenInfo">
    <wsdl:part name="AuthenInfo" element="tns:AuthenInfo" />
  </wsdl:message>
  <wsdl:message name="GetUpdateMRUPlanSoapIn">
    <wsdl:part name="parameters" element="tns:GetUpdateMRUPlan" />
  </wsdl:message>
  <wsdl:message name="GetUpdateMRUPlanSoapOut">
    <wsdl:part name="parameters" element="tns:GetUpdateMRUPlanResponse" />
  </wsdl:message>
  <wsdl:message name="GetUpdateMRUPlanAuthenInfo">
    <wsdl:part name="AuthenInfo" element="tns:AuthenInfo" />
  </wsdl:message>
  <wsdl:message name="GetUpdateContractAccountSoapIn">
    <wsdl:part name="parameters" element="tns:GetUpdateContractAccount" />
  </wsdl:message>
  <wsdl:message name="GetUpdateContractAccountSoapOut">
    <wsdl:part name="parameters" element="tns:GetUpdateContractAccountResponse" />
  </wsdl:message>
  <wsdl:message name="GetUpdateContractAccountAuthenInfo">
    <wsdl:part name="AuthenInfo" element="tns:AuthenInfo" />
  </wsdl:message>
  <wsdl:message name="GetUpdateEmployeeSoapIn">
    <wsdl:part name="parameters" element="tns:GetUpdateEmployee" />
  </wsdl:message>
  <wsdl:message name="GetUpdateEmployeeSoapOut">
    <wsdl:part name="parameters" element="tns:GetUpdateEmployeeResponse" />
  </wsdl:message>
  <wsdl:message name="GetUpdateEmployeeAuthenInfo">
    <wsdl:part name="AuthenInfo" element="tns:AuthenInfo" />
  </wsdl:message>
  <wsdl:message name="GetUpdateAgencyAssetSoapIn">
    <wsdl:part name="parameters" element="tns:GetUpdateAgencyAsset" />
  </wsdl:message>
  <wsdl:message name="GetUpdateAgencyAssetSoapOut">
    <wsdl:part name="parameters" element="tns:GetUpdateAgencyAssetResponse" />
  </wsdl:message>
  <wsdl:message name="GetUpdateAgencyAssetAuthenInfo">
    <wsdl:part name="AuthenInfo" element="tns:AuthenInfo" />
  </wsdl:message>
  <wsdl:message name="GetUpdateBankSoapIn">
    <wsdl:part name="parameters" element="tns:GetUpdateBank" />
  </wsdl:message>
  <wsdl:message name="GetUpdateBankSoapOut">
    <wsdl:part name="parameters" element="tns:GetUpdateBankResponse" />
  </wsdl:message>
  <wsdl:message name="GetUpdateBankAuthenInfo">
    <wsdl:part name="AuthenInfo" element="tns:AuthenInfo" />
  </wsdl:message>
  <wsdl:message name="GetUpdateBankAccountSoapIn">
    <wsdl:part name="parameters" element="tns:GetUpdateBankAccount" />
  </wsdl:message>
  <wsdl:message name="GetUpdateBankAccountSoapOut">
    <wsdl:part name="parameters" element="tns:GetUpdateBankAccountResponse" />
  </wsdl:message>
  <wsdl:message name="GetUpdateBankAccountAuthenInfo">
    <wsdl:part name="AuthenInfo" element="tns:AuthenInfo" />
  </wsdl:message>
  <wsdl:message name="GetUpdateDebtTypeSoapIn">
    <wsdl:part name="parameters" element="tns:GetUpdateDebtType" />
  </wsdl:message>
  <wsdl:message name="GetUpdateDebtTypeSoapOut">
    <wsdl:part name="parameters" element="tns:GetUpdateDebtTypeResponse" />
  </wsdl:message>
  <wsdl:message name="GetUpdateDebtTypeAuthenInfo">
    <wsdl:part name="AuthenInfo" element="tns:AuthenInfo" />
  </wsdl:message>
  <wsdl:message name="UploadMRUPlanSoapIn">
    <wsdl:part name="parameters" element="tns:UploadMRUPlan" />
  </wsdl:message>
  <wsdl:message name="UploadMRUPlanSoapOut">
    <wsdl:part name="parameters" element="tns:UploadMRUPlanResponse" />
  </wsdl:message>
  <wsdl:message name="UploadMRUPlanAuthenInfo">
    <wsdl:part name="AuthenInfo" element="tns:AuthenInfo" />
  </wsdl:message>
  <wsdl:portType name="MasterIntegrationWebServiceSoap">
    <wsdl:operation name="GetUpdateBusinessPartner">
      <wsdl:input message="tns:GetUpdateBusinessPartnerSoapIn" />
      <wsdl:output message="tns:GetUpdateBusinessPartnerSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetUpdateBranch">
      <wsdl:input message="tns:GetUpdateBranchSoapIn" />
      <wsdl:output message="tns:GetUpdateBranchSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetUpdateMRU">
      <wsdl:input message="tns:GetUpdateMRUSoapIn" />
      <wsdl:output message="tns:GetUpdateMRUSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetUpdateMRUPlan">
      <wsdl:input message="tns:GetUpdateMRUPlanSoapIn" />
      <wsdl:output message="tns:GetUpdateMRUPlanSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetUpdateContractAccount">
      <wsdl:input message="tns:GetUpdateContractAccountSoapIn" />
      <wsdl:output message="tns:GetUpdateContractAccountSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetUpdateEmployee">
      <wsdl:input message="tns:GetUpdateEmployeeSoapIn" />
      <wsdl:output message="tns:GetUpdateEmployeeSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetUpdateAgencyAsset">
      <wsdl:input message="tns:GetUpdateAgencyAssetSoapIn" />
      <wsdl:output message="tns:GetUpdateAgencyAssetSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetUpdateBank">
      <wsdl:input message="tns:GetUpdateBankSoapIn" />
      <wsdl:output message="tns:GetUpdateBankSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetUpdateBankAccount">
      <wsdl:input message="tns:GetUpdateBankAccountSoapIn" />
      <wsdl:output message="tns:GetUpdateBankAccountSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetUpdateDebtType">
      <wsdl:input message="tns:GetUpdateDebtTypeSoapIn" />
      <wsdl:output message="tns:GetUpdateDebtTypeSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="UploadMRUPlan">
      <wsdl:input message="tns:UploadMRUPlanSoapIn" />
      <wsdl:output message="tns:UploadMRUPlanSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="MasterIntegrationWebServiceSoap" type="tns:MasterIntegrationWebServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetUpdateBusinessPartner">
      <soap:operation soapAction="http://tempuri.org/GetUpdateBusinessPartner" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="tns:GetUpdateBusinessPartnerAuthenInfo" part="AuthenInfo" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetUpdateBranch">
      <soap:operation soapAction="http://tempuri.org/GetUpdateBranch" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="tns:GetUpdateBranchAuthenInfo" part="AuthenInfo" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetUpdateMRU">
      <soap:operation soapAction="http://tempuri.org/GetUpdateMRU" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="tns:GetUpdateMRUAuthenInfo" part="AuthenInfo" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetUpdateMRUPlan">
      <soap:operation soapAction="http://tempuri.org/GetUpdateMRUPlan" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="tns:GetUpdateMRUPlanAuthenInfo" part="AuthenInfo" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetUpdateContractAccount">
      <soap:operation soapAction="http://tempuri.org/GetUpdateContractAccount" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="tns:GetUpdateContractAccountAuthenInfo" part="AuthenInfo" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetUpdateEmployee">
      <soap:operation soapAction="http://tempuri.org/GetUpdateEmployee" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="tns:GetUpdateEmployeeAuthenInfo" part="AuthenInfo" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetUpdateAgencyAsset">
      <soap:operation soapAction="http://tempuri.org/GetUpdateAgencyAsset" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="tns:GetUpdateAgencyAssetAuthenInfo" part="AuthenInfo" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetUpdateBank">
      <soap:operation soapAction="http://tempuri.org/GetUpdateBank" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="tns:GetUpdateBankAuthenInfo" part="AuthenInfo" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetUpdateBankAccount">
      <soap:operation soapAction="http://tempuri.org/GetUpdateBankAccount" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="tns:GetUpdateBankAccountAuthenInfo" part="AuthenInfo" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetUpdateDebtType">
      <soap:operation soapAction="http://tempuri.org/GetUpdateDebtType" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="tns:GetUpdateDebtTypeAuthenInfo" part="AuthenInfo" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UploadMRUPlan">
      <soap:operation soapAction="http://tempuri.org/UploadMRUPlan" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="tns:UploadMRUPlanAuthenInfo" part="AuthenInfo" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="MasterIntegrationWebServiceSoap12" type="tns:MasterIntegrationWebServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetUpdateBusinessPartner">
      <soap12:operation soapAction="http://tempuri.org/GetUpdateBusinessPartner" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
        <soap12:header message="tns:GetUpdateBusinessPartnerAuthenInfo" part="AuthenInfo" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetUpdateBranch">
      <soap12:operation soapAction="http://tempuri.org/GetUpdateBranch" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
        <soap12:header message="tns:GetUpdateBranchAuthenInfo" part="AuthenInfo" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetUpdateMRU">
      <soap12:operation soapAction="http://tempuri.org/GetUpdateMRU" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
        <soap12:header message="tns:GetUpdateMRUAuthenInfo" part="AuthenInfo" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetUpdateMRUPlan">
      <soap12:operation soapAction="http://tempuri.org/GetUpdateMRUPlan" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
        <soap12:header message="tns:GetUpdateMRUPlanAuthenInfo" part="AuthenInfo" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetUpdateContractAccount">
      <soap12:operation soapAction="http://tempuri.org/GetUpdateContractAccount" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
        <soap12:header message="tns:GetUpdateContractAccountAuthenInfo" part="AuthenInfo" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetUpdateEmployee">
      <soap12:operation soapAction="http://tempuri.org/GetUpdateEmployee" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
        <soap12:header message="tns:GetUpdateEmployeeAuthenInfo" part="AuthenInfo" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetUpdateAgencyAsset">
      <soap12:operation soapAction="http://tempuri.org/GetUpdateAgencyAsset" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
        <soap12:header message="tns:GetUpdateAgencyAssetAuthenInfo" part="AuthenInfo" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetUpdateBank">
      <soap12:operation soapAction="http://tempuri.org/GetUpdateBank" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
        <soap12:header message="tns:GetUpdateBankAuthenInfo" part="AuthenInfo" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetUpdateBankAccount">
      <soap12:operation soapAction="http://tempuri.org/GetUpdateBankAccount" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
        <soap12:header message="tns:GetUpdateBankAccountAuthenInfo" part="AuthenInfo" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetUpdateDebtType">
      <soap12:operation soapAction="http://tempuri.org/GetUpdateDebtType" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
        <soap12:header message="tns:GetUpdateDebtTypeAuthenInfo" part="AuthenInfo" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UploadMRUPlan">
      <soap12:operation soapAction="http://tempuri.org/UploadMRUPlan" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
        <soap12:header message="tns:UploadMRUPlanAuthenInfo" part="AuthenInfo" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="MasterIntegrationWebService">
    <wsdl:port name="MasterIntegrationWebServiceSoap" binding="tns:MasterIntegrationWebServiceSoap">
      <soap:address location="http://localhost/BPMIntegrationUploadedService/MasterIntegrationWebService.asmx" />
    </wsdl:port>
    <wsdl:port name="MasterIntegrationWebServiceSoap12" binding="tns:MasterIntegrationWebServiceSoap12">
      <soap12:address location="http://localhost/BPMIntegrationUploadedService/MasterIntegrationWebService.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>