CODING/Source/SmartPlus/PaymentSmartPlus.SG/Web References/VSPPService/PPIMService0.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/PPIMWcfService" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/PPIMWcfService" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="CompositeType">
    <xs:sequence>
      <xs:element minOccurs="0" name="BoolValue" type="xs:boolean" />
      <xs:element minOccurs="0" name="StringValue" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CompositeType" nillable="true" type="tns:CompositeType" />
  <xs:complexType name="ArrayOfPayment">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Payment" nillable="true" type="tns:Payment" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfPayment" nillable="true" type="tns:ArrayOfPayment" />
  <xs:complexType name="Payment">
    <xs:sequence>
      <xs:element minOccurs="0" name="AmountExVat" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="CaAddress" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CaId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CaName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CaTaxBranch" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CaTaxId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DebtId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DebtType" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="GAmount" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="InvoiceDt" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="InvoiceNo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NotificationNo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Qty" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="TaxCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TaxRate" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="TechBranchId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="VatAmount" nillable="true" type="xs:decimal" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Payment" nillable="true" type="tns:Payment" />
</xs:schema>