CODING/Source/ePayments/ePaymentsModule.SG/Service References/EPayBillingWCF/EPayBillingWCFService6.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org" elementFormDefault="qualified" targetNamespace="http://tempuri.org" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost/BPMService/ePayment/EPayBillingWCFService.svc?xsd=xsd5" namespace="http://schemas.datacontract.org/2004/07/PEA.BPM.ePaymentsModule.Interface.BusinessEntities" />
  <xs:import schemaLocation="http://localhost/BPMService/ePayment/EPayBillingWCFService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/PEA.BPM.Architecture.CommonUtilities" />
  <xs:import schemaLocation="http://localhost/BPMService/ePayment/EPayBillingWCFService.svc?xsd=xsd7" namespace="http://schemas.datacontract.org/2004/07/PEA.BPM.ePaymentsModule.Interface.BusinessEntities.ReceiptPrinting" />
  <xs:element name="UpdateBillMarkFlagService">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="caId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="invoiceNo" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="modifiedBy" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="postServerId" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateBillMarkFlagServiceResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UpdateBillMarkFlagServiceResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DelBillMarkFlagService">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="DelBillMarkFlagServiceResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="SearchDebtService">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/PEA.BPM.ePaymentsModule.Interface.BusinessEntities" minOccurs="0" name="searchDebtParam" nillable="true" type="q1:SearchDebtParam" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SearchDebtServiceResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/PEA.BPM.Architecture.CommonUtilities" minOccurs="0" name="SearchDebtServiceResult" nillable="true" type="q2:CompressData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SearchBPMDebtClearify">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/PEA.BPM.ePaymentsModule.Interface.BusinessEntities" minOccurs="0" name="searchDebtParam" nillable="true" type="q3:SearchDebtParam" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SearchBPMDebtClearifyResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/PEA.BPM.Architecture.CommonUtilities" minOccurs="0" name="SearchBPMDebtClearifyResult" nillable="true" type="q4:CompressData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDebtComparableService">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="caInvoceNo" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDebtComparableServiceResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/PEA.BPM.Architecture.CommonUtilities" minOccurs="0" name="GetDebtComparableServiceResult" nillable="true" type="q5:CompressData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SearchCompany">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/PEA.BPM.ePaymentsModule.Interface.BusinessEntities" minOccurs="0" name="compParm" nillable="true" type="q6:Company" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SearchCompanyResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/PEA.BPM.Architecture.CommonUtilities" minOccurs="0" name="SearchCompanyResult" nillable="true" type="q7:CompressData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertEPayUploadService">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/PEA.BPM.Architecture.CommonUtilities" minOccurs="0" name="ePayFileCompress" nillable="true" type="q8:CompressData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertEPayUploadServiceResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="IsUploadFileNameExist">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="fileName" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="IsUploadFileNameExistResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="IsUploadFileNameExistResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAgentPaymentService">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/PEA.BPM.ePaymentsModule.Interface.BusinessEntities" minOccurs="0" name="agentPayment" nillable="true" type="q9:AgentPayment" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAgentPaymentServiceResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/PEA.BPM.Architecture.CommonUtilities" minOccurs="0" name="GetAgentPaymentServiceResult" nillable="true" type="q10:CompressData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertAgentPaymentService">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/PEA.BPM.Architecture.CommonUtilities" minOccurs="0" name="agentPayCompress" nillable="true" type="q11:CompressData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertAgentPaymentServiceResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="PrintGreenBill">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/PEA.BPM.ePaymentsModule.Interface.BusinessEntities.ReceiptPrinting" minOccurs="0" name="param" nillable="true" type="q12:ReceiptConditionParam" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PrintGreenBillResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q13="http://schemas.datacontract.org/2004/07/PEA.BPM.Architecture.CommonUtilities" minOccurs="0" name="PrintGreenBillResult" nillable="true" type="q13:CompressData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveClearify">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q14="http://schemas.datacontract.org/2004/07/PEA.BPM.Architecture.CommonUtilities" minOccurs="0" name="saveClearifyCompress" nillable="true" type="q14:CompressData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveClearifyResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SaveClearifyResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SearchAgentPayment">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q15="http://schemas.datacontract.org/2004/07/PEA.BPM.ePaymentsModule.Interface.BusinessEntities" minOccurs="0" name="param" nillable="true" type="q15:CancelPayment" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SearchAgentPaymentResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q16="http://schemas.datacontract.org/2004/07/PEA.BPM.Architecture.CommonUtilities" minOccurs="0" name="SearchAgentPaymentResult" nillable="true" type="q16:CompressData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertCancelPayment">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q17="http://schemas.datacontract.org/2004/07/PEA.BPM.Architecture.CommonUtilities" minOccurs="0" name="param" nillable="true" type="q17:CompressData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertCancelPaymentResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
</xs:schema>