CODING/Source/ePayments/ePaymentsModule.SG/Service References/EPayBillingWCF/EPayBillingWCFService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/PEA.BPM.ePaymentsModule.Interface.BusinessEntities.ReceiptPrinting" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/PEA.BPM.ePaymentsModule.Interface.BusinessEntities.ReceiptPrinting" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ReceiptConditionParam">
    <xs:sequence>
      <xs:element minOccurs="0" name="BeginCaId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="EndCaId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="InvoiceNo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ReceiptId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UploadDt" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="CompanyId" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ReceiptConditionParam" nillable="true" type="tns:ReceiptConditionParam" />
</xs:schema>