CODING/Source/BillPrintingModule/BillPrintingModule.SG/Service References/ControlWCF/ControlWCFService12.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org" elementFormDefault="qualified" targetNamespace="http://tempuri.org" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost/BPMService/BLAN/ControlWCFService.svc?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/PEA.BPM.BillPrintingModule.Interface.BusinessEntities" />
  <xs:import schemaLocation="http://localhost/BPMService/BLAN/ControlWCFService.svc?xsd=xsd6" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:import schemaLocation="http://localhost/BPMService/BLAN/ControlWCFService.svc?xsd=xsd7" namespace="http://schemas.datacontract.org/2004/07/PEA.BPM.Infrastructure.Interface.BusinessEntities" />
  <xs:element name="GetDeliveryPlace">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="createBranchId" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDeliveryPlaceResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/PEA.BPM.BillPrintingModule.Interface.BusinessEntities" minOccurs="0" name="GetDeliveryPlaceResult" nillable="true" type="q1:ArrayOfDeliveryPlace" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertDeliveryPlace">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/PEA.BPM.BillPrintingModule.Interface.BusinessEntities" minOccurs="0" name="dp" nillable="true" type="q2:DeliveryPlace" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertDeliveryPlaceResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="InsertDeliveryPlaceResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateDeliveryPlace">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/PEA.BPM.BillPrintingModule.Interface.BusinessEntities" minOccurs="0" name="dp" nillable="true" type="q3:DeliveryPlace" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateDeliveryPlaceResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UpdateDeliveryPlaceResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteDeliveryPlace">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/PEA.BPM.BillPrintingModule.Interface.BusinessEntities" minOccurs="0" name="dp" nillable="true" type="q4:DeliveryPlace" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteDeliveryPlaceResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DeleteDeliveryPlaceResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetChildBranch">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="branchId" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetChildBranchResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="GetChildBranchResult" nillable="true" type="q5:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetBank">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="branchId" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetBankResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/PEA.BPM.Infrastructure.Interface.BusinessEntities" minOccurs="0" name="GetBankResult" nillable="true" type="q6:ArrayOfBank" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPortion">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="branchId" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPortionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/PEA.BPM.BillPrintingModule.Interface.BusinessEntities" minOccurs="0" name="GetPortionResult" nillable="true" type="q7:ArrayOfPortion" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetApprover">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="createBranchId" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetApproverResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/PEA.BPM.BillPrintingModule.Interface.BusinessEntities" minOccurs="0" name="GetApproverResult" nillable="true" type="q8:ArrayOfAuthorizedPerson" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertApprover">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/PEA.BPM.BillPrintingModule.Interface.BusinessEntities" minOccurs="0" name="approver" nillable="true" type="q9:AuthorizedPerson" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertApproverResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="InsertApproverResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateApprover">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/PEA.BPM.BillPrintingModule.Interface.BusinessEntities" minOccurs="0" name="approver" nillable="true" type="q10:AuthorizedPerson" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateApproverResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UpdateApproverResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteApprover">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/PEA.BPM.BillPrintingModule.Interface.BusinessEntities" minOccurs="0" name="approver" nillable="true" type="q11:AuthorizedPerson" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteApproverResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DeleteApproverResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetContractAccountHistory">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="caId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="printBranch" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetContractAccountHistoryResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/PEA.BPM.BillPrintingModule.Interface.BusinessEntities" minOccurs="0" name="GetContractAccountHistoryResult" nillable="true" type="q12:ArrayOfInvoice" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetBarcodeMRU">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q13="http://schemas.datacontract.org/2004/07/PEA.BPM.BillPrintingModule.Interface.BusinessEntities" minOccurs="0" name="param" nillable="true" type="q13:ManageBarcodeParam" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetBarcodeMRUResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q14="http://schemas.datacontract.org/2004/07/PEA.BPM.BillPrintingModule.Interface.BusinessEntities" minOccurs="0" name="GetBarcodeMRUResult" nillable="true" type="q14:ArrayOfBarcodeMRU" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateBarcodeMRU">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q15="http://schemas.datacontract.org/2004/07/PEA.BPM.BillPrintingModule.Interface.BusinessEntities" minOccurs="0" name="param" nillable="true" type="q15:BarcodeMRU" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateBarcodeMRUResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
</xs:schema>