CODING/Source/PaymentManagementModule/PaymentManagementModule.SG/Service References/PaymentMntWCF/PaymentMntWCFService61.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org" elementFormDefault="qualified" targetNamespace="http://tempuri.org" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost/BPMService/PaymentMnt/PaymentMntWCFService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/PEA.BPM.Architecture.CommonUtilities" />
  <xs:import schemaLocation="http://localhost/BPMService/PaymentMnt/PaymentMntWCFService.svc?xsd=xsd5" namespace="http://schemas.datacontract.org/2004/07/PEA.BPM.PaymentManagementModule.Interface.BusinessEntities" />
  <xs:element name="GetMoneyInTray_Compress">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="workId" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMoneyInTray_CompressResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/PEA.BPM.Architecture.CommonUtilities" minOccurs="0" name="GetMoneyInTray_CompressResult" nillable="true" type="q1:CompressData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCaNameByPaymentVoucher_Compress">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="caId" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCaNameByPaymentVoucher_CompressResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/PEA.BPM.Architecture.CommonUtilities" minOccurs="0" name="GetCaNameByPaymentVoucher_CompressResult" nillable="true" type="q2:CompressData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SearchPaidPaymentVoucher_Compress">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="paymentVoucher" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SearchPaidPaymentVoucher_CompressResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/PEA.BPM.Architecture.CommonUtilities" minOccurs="0" name="SearchPaidPaymentVoucher_CompressResult" nillable="true" type="q3:CompressData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PayAP_Compress">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/PEA.BPM.PaymentManagementModule.Interface.BusinessEntities" minOccurs="0" name="ap" nillable="true" type="q4:ArrayOfAPInfo" />
        <xs:element minOccurs="0" name="paymentDate" type="xs:dateTime" />
        <xs:element minOccurs="0" name="posId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="terminalCode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="cashierId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="cashierName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="branchId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="branchName" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PayAP_CompressResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/PEA.BPM.Architecture.CommonUtilities" minOccurs="0" name="PayAP_CompressResult" nillable="true" type="q5:CompressData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SearchPaymentVoucher">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/PEA.BPM.PaymentManagementModule.Interface.BusinessEntities" minOccurs="0" name="param" nillable="true" type="q6:PaymentVoucherSearchParam" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SearchPaymentVoucherResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/PEA.BPM.Architecture.CommonUtilities" minOccurs="0" name="SearchPaymentVoucherResult" nillable="true" type="q7:CompressData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateAPByStrLineAPId">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="strLineAPId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="reason" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="cashierId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="cashierName" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateAPByStrLineAPIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/PEA.BPM.Architecture.CommonUtilities" minOccurs="0" name="UpdateAPByStrLineAPIdResult" nillable="true" type="q8:CompressData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>