CODING/Source/PaymentManagementModule/PaymentManagementModule.SG/Service References/PaymentMntWCF/PaymentMntWCFService21.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:i0="http://tempuri.org" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:tns="http://tempuri.org/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" name="PaymentMntWCFService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:import namespace="http://tempuri.org" location="http://localhost/BPMService/PaymentMnt/PaymentMntWCFService.svc?wsdl=wsdl0" />
  <wsdl:types />
  <wsdl:binding name="BasicHttpBinding_IPaymentMntWCFService" type="i0:IPaymentMntWCFService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetMoneyInTray_Compress">
      <soap:operation soapAction="http://tempuri.org/IPaymentMntWCFService/GetMoneyInTray_Compress" style="document" />
      <wsdl:input>
        <soap:header message="i0:IPaymentMntWCFService_GetMoneyInTray_Compress_InputMessage_Headers" part="AuthInfoValue" use="literal" />
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="BPMApplicationExceptionInfoFault">
        <soap:fault use="literal" name="BPMApplicationExceptionInfoFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetCaNameByPaymentVoucher_Compress">
      <soap:operation soapAction="http://tempuri.org/IPaymentMntWCFService/GetCaNameByPaymentVoucher_Compress" style="document" />
      <wsdl:input>
        <soap:header message="i0:IPaymentMntWCFService_GetCaNameByPaymentVoucher_Compress_InputMessage_Headers" part="AuthInfoValue" use="literal" />
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="BPMApplicationExceptionInfoFault">
        <soap:fault use="literal" name="BPMApplicationExceptionInfoFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="SearchPaidPaymentVoucher_Compress">
      <soap:operation soapAction="http://tempuri.org/IPaymentMntWCFService/SearchPaidPaymentVoucher_Compress" style="document" />
      <wsdl:input>
        <soap:header message="i0:IPaymentMntWCFService_SearchPaidPaymentVoucher_Compress_InputMessage_Headers" part="AuthInfoValue" use="literal" />
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="BPMApplicationExceptionInfoFault">
        <soap:fault use="literal" name="BPMApplicationExceptionInfoFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="PayAP_Compress">
      <soap:operation soapAction="http://tempuri.org/IPaymentMntWCFService/PayAP_Compress" style="document" />
      <wsdl:input>
        <soap:header message="i0:IPaymentMntWCFService_PayAP_Compress_InputMessage_Headers" part="AuthInfoValue" use="literal" />
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="BPMApplicationExceptionInfoFault">
        <soap:fault use="literal" name="BPMApplicationExceptionInfoFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="SearchPaymentVoucher">
      <soap:operation soapAction="http://tempuri.org/IPaymentMntWCFService/SearchPaymentVoucher" style="document" />
      <wsdl:input>
        <soap:header message="i0:IPaymentMntWCFService_SearchPaymentVoucher_InputMessage_Headers" part="AuthInfoValue" use="literal" />
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="BPMApplicationExceptionInfoFault">
        <soap:fault use="literal" name="BPMApplicationExceptionInfoFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="UpdateAPByStrLineAPId">
      <soap:operation soapAction="http://tempuri.org/IPaymentMntWCFService/UpdateAPByStrLineAPId" style="document" />
      <wsdl:input>
        <soap:header message="i0:IPaymentMntWCFService_UpdateAPByStrLineAPId_InputMessage_Headers" part="AuthInfoValue" use="literal" />
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="BPMApplicationExceptionInfoFault">
        <soap:fault use="literal" name="BPMApplicationExceptionInfoFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="PaymentMntWCFService">
    <wsdl:port name="BasicHttpBinding_IPaymentMntWCFService" binding="tns:BasicHttpBinding_IPaymentMntWCFService">
      <soap:address location="http://localhost/BPMService/PaymentMnt/PaymentMntWCFService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>