CODING/Source/PaymentManagementModule/PaymentManagementModule.SG/Service References/PaymentMntWCF/PaymentMntWCFService64.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/PEA.BPM.PaymentManagementModule.Interface.BusinessEntities" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/PEA.BPM.PaymentManagementModule.Interface.BusinessEntities" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfAPInfo">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="APInfo" nillable="true" type="tns:APInfo" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfAPInfo" nillable="true" type="tns:ArrayOfAPInfo" />
  <xs:complexType name="APInfo">
    <xs:sequence>
      <xs:element minOccurs="0" name="PaymentVoucher" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CaId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CaName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="GAmount" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="AdjAmount" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="APQty" nillable="true" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="APInfo" nillable="true" type="tns:APInfo" />
  <xs:complexType name="PaymentVoucherSearchParam">
    <xs:sequence>
      <xs:element minOccurs="0" name="BranchId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PaymentVoucherId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CashierName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CustomerId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CustomerName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="APPmId" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="PaymentVoucherSearchParam" nillable="true" type="tns:PaymentVoucherSearchParam" />
</xs:schema>