CODING/Source/ePayments/ePaymentsModule.SG/Service References/EPayCommonWCF/EPayCommonWCFService3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/PEA.BPM.ePaymentsModule.Interface.BusinessEntities" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/PEA.BPM.ePaymentsModule.Interface.BusinessEntities" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="Agency">
    <xs:sequence>
      <xs:element minOccurs="0" name="AgencyId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="AgencyName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Address" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Agency" nillable="true" type="tns:Agency" />
  <xs:complexType name="AccountClassInfo">
    <xs:sequence>
      <xs:element minOccurs="0" name="AccountClassId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="AccountClassName" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="AccountClassInfo" nillable="true" type="tns:AccountClassInfo" />
</xs:schema>