CODING/Source/CashManagementModule/CashManagementModule.SG/Service References/CashierWCF/CashierWCFService84.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org" elementFormDefault="qualified" targetNamespace="http://tempuri.org" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost/BPMService/Cashier/CashierWCFService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/PEA.BPM.CashManagementModule.Interface.BusinessEntities" />
  <xs:import schemaLocation="http://localhost/BPMService/Cashier/CashierWCFService.svc?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/PEA.BPM.Architecture.CommonUtilities" />
  <xs:import schemaLocation="http://localhost/BPMService/Cashier/CashierWCFService.svc?xsd=xsd7" namespace="http://schemas.datacontract.org/2004/07/PEA.BPM.Infrastructure.Interface.BusinessEntities" />
  <xs:import schemaLocation="http://localhost/BPMService/Cashier/CashierWCFService.svc?xsd=xsd3" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:element name="GetBankPayInDailyForReport">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/PEA.BPM.CashManagementModule.Interface.BusinessEntities" minOccurs="0" name="param" nillable="true" type="q1:ReportParam" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetBankPayInDailyForReportResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/PEA.BPM.Architecture.CommonUtilities" minOccurs="0" name="GetBankPayInDailyForReportResult" nillable="true" type="q2:CompressData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCloseWorkSummaryReport">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/PEA.BPM.CashManagementModule.Interface.BusinessEntities" minOccurs="0" name="param" nillable="true" type="q3:ReportParam" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCloseWorkSummaryReportResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/PEA.BPM.Architecture.CommonUtilities" minOccurs="0" name="GetCloseWorkSummaryReportResult" nillable="true" type="q4:CompressData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetChequeDailyRemainReport">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/PEA.BPM.CashManagementModule.Interface.BusinessEntities" minOccurs="0" name="param" nillable="true" type="q5:ReportParam" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetChequeDailyRemainReportResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/PEA.BPM.Architecture.CommonUtilities" minOccurs="0" name="GetChequeDailyRemainReportResult" nillable="true" type="q6:CompressData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPayInOfDate">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/PEA.BPM.CashManagementModule.Interface.BusinessEntities" minOccurs="0" name="param" nillable="true" type="q7:ReportParam" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPayInOfDateResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/PEA.BPM.Architecture.CommonUtilities" minOccurs="0" name="GetPayInOfDateResult" nillable="true" type="q8:CompressData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCloseWorkOfDate">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/PEA.BPM.CashManagementModule.Interface.BusinessEntities" minOccurs="0" name="param" nillable="true" type="q9:ReportParam" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCloseWorkOfDateResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/PEA.BPM.Architecture.CommonUtilities" minOccurs="0" name="GetCloseWorkOfDateResult" nillable="true" type="q10:CompressData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveStartOpenBalance">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/PEA.BPM.CashManagementModule.Interface.BusinessEntities" minOccurs="0" name="param" nillable="true" type="q11:MoneyCheckInInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveStartOpenBalanceResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="LoadSystemInitial">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="workId" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LoadSystemInitialResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/PEA.BPM.Architecture.CommonUtilities" minOccurs="0" name="LoadSystemInitialResult" nillable="true" type="q12:CompressData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveAdjustOpenBalance">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q13="http://schemas.datacontract.org/2004/07/PEA.BPM.CashManagementModule.Interface.BusinessEntities" minOccurs="0" name="param" nillable="true" type="q13:MoneyCheckInInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveAdjustOpenBalanceResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="LoadAdjustOpenBalance">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="workId" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LoadAdjustOpenBalanceResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q14="http://schemas.datacontract.org/2004/07/PEA.BPM.Architecture.CommonUtilities" minOccurs="0" name="LoadAdjustOpenBalanceResult" nillable="true" type="q14:CompressData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetOpenWorkCashierOfBranch">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="branchId" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetOpenWorkCashierOfBranchResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q15="http://schemas.datacontract.org/2004/07/PEA.BPM.Architecture.CommonUtilities" minOccurs="0" name="GetOpenWorkCashierOfBranchResult" nillable="true" type="q15:CompressData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCashierWorkStatus">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="workId" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCashierWorkStatusResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q16="http://schemas.datacontract.org/2004/07/PEA.BPM.CashManagementModule.Interface.BusinessEntities" minOccurs="0" name="GetCashierWorkStatusResult" nillable="true" type="q16:CashierWorkStatus" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="IsOpenedWork">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q17="http://schemas.datacontract.org/2004/07/PEA.BPM.Infrastructure.Interface.BusinessEntities" minOccurs="0" name="param" nillable="true" type="q17:OpenWorkParam" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="IsOpenedWorkResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q18="http://schemas.datacontract.org/2004/07/PEA.BPM.Architecture.CommonUtilities" minOccurs="0" name="IsOpenedWorkResult" nillable="true" type="q18:CompressData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="IsSystemInitial">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="branchId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="workId" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="IsSystemInitialResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="IsSystemInitialResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="OpenWork">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q19="http://schemas.datacontract.org/2004/07/PEA.BPM.Infrastructure.Interface.BusinessEntities" minOccurs="0" name="param" nillable="true" type="q19:OpenWorkParam" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="OpenWorkResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="OpenWorkResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LoadOpeningBalance">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="cashierId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="flowType" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LoadOpeningBalanceResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q20="http://schemas.datacontract.org/2004/07/PEA.BPM.Architecture.CommonUtilities" minOccurs="0" name="LoadOpeningBalanceResult" nillable="true" type="q20:CompressData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListCashier">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="keyword" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="branchId" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListCashierResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q21="http://schemas.datacontract.org/2004/07/PEA.BPM.Architecture.CommonUtilities" minOccurs="0" name="ListCashierResult" nillable="true" type="q21:CompressData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListGLBank">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="businessPlace" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListGLBankResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q22="http://schemas.datacontract.org/2004/07/PEA.BPM.Architecture.CommonUtilities" minOccurs="0" name="ListGLBankResult" nillable="true" type="q22:CompressData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListGLBankAccount">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="businessPlace" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="bankId" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListGLBankAccountResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q23="http://schemas.datacontract.org/2004/07/PEA.BPM.Architecture.CommonUtilities" minOccurs="0" name="ListGLBankAccountResult" nillable="true" type="q23:CompressData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMoneyInTray">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="workId" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMoneyInTrayResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q24="http://schemas.datacontract.org/2004/07/PEA.BPM.Architecture.CommonUtilities" minOccurs="0" name="GetMoneyInTrayResult" nillable="true" type="q24:CompressData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Transfer">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q25="http://schemas.datacontract.org/2004/07/PEA.BPM.CashManagementModule.Interface.BusinessEntities" minOccurs="0" name="transferMoney" nillable="true" type="q25:MoneyTransferInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TransferResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q26="http://schemas.datacontract.org/2004/07/PEA.BPM.Architecture.CommonUtilities" minOccurs="0" name="TransferResult" nillable="true" type="q26:CompressData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetBankPayInDetailForReport">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q27="http://schemas.datacontract.org/2004/07/PEA.BPM.CashManagementModule.Interface.BusinessEntities" minOccurs="0" name="flowInfo" nillable="true" type="q27:CashierMoneyFlowInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetBankPayInDetailForReportResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q28="http://schemas.datacontract.org/2004/07/PEA.BPM.Architecture.CommonUtilities" minOccurs="0" name="GetBankPayInDetailForReportResult" nillable="true" type="q28:CompressData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LoadTransferedRequestItem">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="cashierId" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LoadTransferedRequestItemResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q29="http://schemas.datacontract.org/2004/07/PEA.BPM.Architecture.CommonUtilities" minOccurs="0" name="LoadTransferedRequestItemResult" nillable="true" type="q29:CompressData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ResponseTransferedItems">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q30="http://schemas.datacontract.org/2004/07/PEA.BPM.Architecture.CommonUtilities" minOccurs="0" name="transferId" nillable="true" type="q30:CompressData" />
        <xs:element minOccurs="0" name="workId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="status" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="posId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="branchId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="modifiedBy" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ResponseTransferedItemsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ResponseTransferedItemsResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CancelTransferItem">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q31="http://schemas.datacontract.org/2004/07/PEA.BPM.Architecture.CommonUtilities" minOccurs="0" name="transferId" nillable="true" type="q31:CompressData" />
        <xs:element minOccurs="0" name="modifiedBy" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CancelTransferItemResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="LoadTransferStatusItem">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="cashierId" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LoadTransferStatusItemResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q32="http://schemas.datacontract.org/2004/07/PEA.BPM.Architecture.CommonUtilities" minOccurs="0" name="LoadTransferStatusItemResult" nillable="true" type="q32:CompressData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCloseWorkFlowItem">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="workId" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCloseWorkFlowItemResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q33="http://schemas.datacontract.org/2004/07/PEA.BPM.Architecture.CommonUtilities" minOccurs="0" name="GetCloseWorkFlowItemResult" nillable="true" type="q33:CompressData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CloseWork">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q34="http://schemas.datacontract.org/2004/07/PEA.BPM.CashManagementModule.Interface.BusinessEntities" minOccurs="0" name="submitInfo" nillable="true" type="q34:CloseWorkSubmitInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CloseWorkResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetWorkFlowReport">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="workId" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetWorkFlowReportResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q35="http://schemas.datacontract.org/2004/07/PEA.BPM.Architecture.CommonUtilities" minOccurs="0" name="GetWorkFlowReportResult" nillable="true" type="q35:CompressData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetWorkFlowDelayedReport">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="workId" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetWorkFlowDelayedReportResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q36="http://schemas.datacontract.org/2004/07/PEA.BPM.Architecture.CommonUtilities" minOccurs="0" name="GetWorkFlowDelayedReportResult" nillable="true" type="q36:CompressData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CheckInMoney">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q37="http://schemas.datacontract.org/2004/07/PEA.BPM.CashManagementModule.Interface.BusinessEntities" minOccurs="0" name="param" nillable="true" type="q37:MoneyCheckInInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CheckInMoneyResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="LoadMoneyCheckedIn">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SAPRefNo" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="workId" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LoadMoneyCheckedInResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q38="http://schemas.datacontract.org/2004/07/PEA.BPM.Architecture.CommonUtilities" minOccurs="0" name="LoadMoneyCheckedInResult" nillable="true" type="q38:CompressData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CancelMoneyCheckedIn">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q39="http://schemas.datacontract.org/2004/07/PEA.BPM.CashManagementModule.Interface.BusinessEntities" minOccurs="0" name="param" nillable="true" type="q39:CancelMoneyCheckedInInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CancelMoneyCheckedInResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CancelMoneyCheckedInResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ExistSAPRefNo">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="sapRefNo" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="workId" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ExistSAPRefNoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ExistSAPRefNoResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetHistDailyRemainReport">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q40="http://schemas.datacontract.org/2004/07/PEA.BPM.CashManagementModule.Interface.BusinessEntities" minOccurs="0" name="param" nillable="true" type="q40:ReportParam" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetHistDailyRemainReportResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q41="http://schemas.datacontract.org/2004/07/PEA.BPM.Architecture.CommonUtilities" minOccurs="0" name="GetHistDailyRemainReportResult" nillable="true" type="q41:CompressData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetHistBankPayInDetailReport">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q42="http://schemas.datacontract.org/2004/07/PEA.BPM.CashManagementModule.Interface.BusinessEntities" minOccurs="0" name="param" nillable="true" type="q42:ReportParam" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetHistBankPayInDetailReportResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q43="http://schemas.datacontract.org/2004/07/PEA.BPM.Architecture.CommonUtilities" minOccurs="0" name="GetHistBankPayInDetailReportResult" nillable="true" type="q43:CompressData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetHistWorkFlowReport">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q44="http://schemas.datacontract.org/2004/07/PEA.BPM.CashManagementModule.Interface.BusinessEntities" minOccurs="0" name="param" nillable="true" type="q44:ReportParam" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetHistWorkFlowReportResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q45="http://schemas.datacontract.org/2004/07/PEA.BPM.Architecture.CommonUtilities" minOccurs="0" name="GetHistWorkFlowReportResult" nillable="true" type="q45:CompressData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetWorkBetweenDate">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q46="http://schemas.datacontract.org/2004/07/PEA.BPM.CashManagementModule.Interface.BusinessEntities" minOccurs="0" name="param" nillable="true" type="q46:ReportParam" />
        <xs:element minOccurs="0" name="output" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetWorkBetweenDateResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q47="http://schemas.datacontract.org/2004/07/PEA.BPM.Architecture.CommonUtilities" minOccurs="0" name="GetWorkBetweenDateResult" nillable="true" type="q47:CompressData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListBankDelivery">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="workId" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListBankDeliveryResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q48="http://schemas.datacontract.org/2004/07/PEA.BPM.Architecture.CommonUtilities" minOccurs="0" name="ListBankDeliveryResult" nillable="true" type="q48:CompressData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CancelBankDelivery">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q49="http://schemas.datacontract.org/2004/07/PEA.BPM.CashManagementModule.Interface.BusinessEntities" minOccurs="0" name="blInfo" nillable="true" type="q49:BankDeliveryInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CancelBankDeliveryResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ListAllOpenWork">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="branchId" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListAllOpenWorkResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q50="http://schemas.datacontract.org/2004/07/PEA.BPM.Architecture.CommonUtilities" minOccurs="0" name="ListAllOpenWorkResult" nillable="true" type="q50:CompressData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ForceCloseWork">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q51="http://schemas.datacontract.org/2004/07/PEA.BPM.CashManagementModule.Interface.BusinessEntities" minOccurs="0" name="workInfo" nillable="true" type="q51:WorkInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ForceCloseWorkResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="LoadCashierPosId">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="branchId" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LoadCashierPosIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q52="http://schemas.datacontract.org/2004/07/PEA.BPM.CashManagementModule.Interface.BusinessEntities" minOccurs="0" name="LoadCashierPosIdResult" nillable="true" type="q52:CashierPosIdInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="IsAllWorkClosed">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="workId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="branchId" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="IsAllWorkClosedResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="IsAllWorkClosedResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetBaseline">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="workId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="branchId" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetBaselineResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetBaseline">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="branchId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="baselineDt" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetBaselineResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q53="http://schemas.datacontract.org/2004/07/PEA.BPM.Architecture.CommonUtilities" minOccurs="0" name="GetBaselineResult" nillable="true" type="q53:CompressData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetWorkPosId">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="workId" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetWorkPosIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetWorkPosIdResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LoadSAPReference">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="workId" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LoadSAPReferenceResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q54="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="LoadSAPReferenceResult" nillable="true" type="q54:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>