CODING/Source/ePayments/ePaymentsModule.SG/Service References/EPayReportWCF/ReportWCFService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/PEA.BPM.ePaymentsModule.Interface.BusinessEntities.Reports" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/PEA.BPM.ePaymentsModule.Interface.BusinessEntities.Reports" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="RE01Param">
    <xs:sequence>
      <xs:element minOccurs="0" name="BranchId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="AccountClassId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CompanyId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UploadDt" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="RunningBranchId" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="RE01Param" nillable="true" type="tns:RE01Param" />
  <xs:complexType name="RE02ParamInfo">
    <xs:sequence>
      <xs:element minOccurs="0" name="BranchId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="AccountClassId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CompanyId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="BeginUploadDt" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="EndUploadDt" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="RunningBranchId" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="RE02ParamInfo" nillable="true" type="tns:RE02ParamInfo" />
  <xs:complexType name="RE03ParamInfo">
    <xs:sequence>
      <xs:element minOccurs="0" name="AccountClassId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PayDt" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="RunningBranchId" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="RE03ParamInfo" nillable="true" type="tns:RE03ParamInfo" />
  <xs:complexType name="RE04ParamInfo">
    <xs:sequence>
      <xs:element minOccurs="0" name="AccountClassId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CompanyId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PayDt" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="RunningBranchId" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="RE04ParamInfo" nillable="true" type="tns:RE04ParamInfo" />
  <xs:complexType name="RE05ParamInfo">
    <xs:sequence>
      <xs:element minOccurs="0" name="AccountClassId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CompanyId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PayDate" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="RunningBranchId" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="RE05ParamInfo" nillable="true" type="tns:RE05ParamInfo" />
  <xs:complexType name="RE06ParamInfo">
    <xs:sequence>
      <xs:element minOccurs="0" name="BranchId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PayDt" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="AccountClassId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CompanyId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="RunningBranchId" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="RE06ParamInfo" nillable="true" type="tns:RE06ParamInfo" />
  <xs:complexType name="RE07ParamInfo">
    <xs:sequence>
      <xs:element minOccurs="0" name="AccountClassId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CompanyId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UploadDtFrom" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="UploadDtTo" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="RunningBranchId" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="RE07ParamInfo" nillable="true" type="tns:RE07ParamInfo" />
  <xs:complexType name="RE08ParamInfo">
    <xs:sequence>
      <xs:element minOccurs="0" name="AccountClassId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CompanyId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UploadDtFrom" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="UploadDtTo" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="RunningBranchId" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="RE08ParamInfo" nillable="true" type="tns:RE08ParamInfo" />
  <xs:complexType name="RE09ParamInfo">
    <xs:sequence>
      <xs:element minOccurs="0" name="AccountClassId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CompanyId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PayDtFrom" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="PayDtTo" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="RunningBranchId" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="RE09ParamInfo" nillable="true" type="tns:RE09ParamInfo" />
</xs:schema>