CODING/Source/AgencyManagementModule/AgencyManagementModule.SG/Service References/ReportMgtWCF/ReportMgtWCFService74.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org" elementFormDefault="qualified" targetNamespace="http://tempuri.org" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost/BPMService/AGENCY/ReportMgtWCFService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/PEA.BPM.Architecture.CommonUtilities" />
  <xs:import schemaLocation="http://localhost/BPMService/AGENCY/ReportMgtWCFService.svc?xsd=xsd5" namespace="http://schemas.datacontract.org/2004/07/PEA.BPM.AgencyManagementModule.Interface.BusinessEntities" />
  <xs:element name="FindAndDisplayCAB03_Header_Compress">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/PEA.BPM.Architecture.CommonUtilities" minOccurs="0" name="conditionPrintInfo" nillable="true" type="q1:CompressData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FindAndDisplayCAB03_Header_CompressResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/PEA.BPM.Architecture.CommonUtilities" minOccurs="0" name="FindAndDisplayCAB03_Header_CompressResult" nillable="true" type="q2:CompressData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FindAndDisplayCAB03_Detail">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/PEA.BPM.AgencyManagementModule.Interface.BusinessEntities" minOccurs="0" name="conditionPrintInfo" nillable="true" type="q3:CheckInBillBookConditionInfoReport" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FindAndDisplayCAB03_DetailResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/PEA.BPM.AgencyManagementModule.Interface.BusinessEntities" minOccurs="0" name="FindAndDisplayCAB03_DetailResult" nillable="true" type="q4:ArrayOfCAB03_DetailReportInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FindAndDisplayCAB03_Detail_Compress">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/PEA.BPM.Architecture.CommonUtilities" minOccurs="0" name="conditionPrintInfo" nillable="true" type="q5:CompressData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FindAndDisplayCAB03_Detail_CompressResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/PEA.BPM.Architecture.CommonUtilities" minOccurs="0" name="FindAndDisplayCAB03_Detail_CompressResult" nillable="true" type="q6:CompressData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FindAndDisplayCAB04_03Header">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/PEA.BPM.AgencyManagementModule.Interface.BusinessEntities" minOccurs="0" name="commissionConditionInfo" nillable="true" type="q7:CommissionVoucherConditionPrintReport" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FindAndDisplayCAB04_03HeaderResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/PEA.BPM.AgencyManagementModule.Interface.BusinessEntities" minOccurs="0" name="FindAndDisplayCAB04_03HeaderResult" nillable="true" type="q8:CAB04_03HeaderReportInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FindAndDisplayCAB04_03Header_Compress">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/PEA.BPM.Architecture.CommonUtilities" minOccurs="0" name="commissionConditionInfo" nillable="true" type="q9:CompressData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FindAndDisplayCAB04_03Header_CompressResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/PEA.BPM.Architecture.CommonUtilities" minOccurs="0" name="FindAndDisplayCAB04_03Header_CompressResult" nillable="true" type="q10:CompressData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FindAndDisplayCAB05_01Detail">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/PEA.BPM.AgencyManagementModule.Interface.BusinessEntities" minOccurs="0" name="conditionInfo" nillable="true" type="q11:CAB05_01ConditionReportInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FindAndDisplayCAB05_01DetailResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/PEA.BPM.AgencyManagementModule.Interface.BusinessEntities" minOccurs="0" name="FindAndDisplayCAB05_01DetailResult" nillable="true" type="q12:ArrayOfCAB05_01DetailReportInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FindAndDisplayCAB05_01Detail_Compress">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q13="http://schemas.datacontract.org/2004/07/PEA.BPM.Architecture.CommonUtilities" minOccurs="0" name="conditionInfo" nillable="true" type="q13:CompressData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FindAndDisplayCAB05_01Detail_CompressResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q14="http://schemas.datacontract.org/2004/07/PEA.BPM.Architecture.CommonUtilities" minOccurs="0" name="FindAndDisplayCAB05_01Detail_CompressResult" nillable="true" type="q14:CompressData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FindAndDisplayPA_7034Detail">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q15="http://schemas.datacontract.org/2004/07/PEA.BPM.AgencyManagementModule.Interface.BusinessEntities" minOccurs="0" name="conditionInfo" nillable="true" type="q15:PA_7034ConditionReportInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FindAndDisplayPA_7034DetailResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q16="http://schemas.datacontract.org/2004/07/PEA.BPM.AgencyManagementModule.Interface.BusinessEntities" minOccurs="0" name="FindAndDisplayPA_7034DetailResult" nillable="true" type="q16:ArrayOfPA_7034DetailReportInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FindAndDisplayPA_7034Detail_Compress">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q17="http://schemas.datacontract.org/2004/07/PEA.BPM.Architecture.CommonUtilities" minOccurs="0" name="conditionInfo" nillable="true" type="q17:CompressData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FindAndDisplayPA_7034Detail_CompressResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q18="http://schemas.datacontract.org/2004/07/PEA.BPM.Architecture.CommonUtilities" minOccurs="0" name="FindAndDisplayPA_7034Detail_CompressResult" nillable="true" type="q18:CompressData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FindAndDisplayCAB12_01Detail">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q19="http://schemas.datacontract.org/2004/07/PEA.BPM.AgencyManagementModule.Interface.BusinessEntities" minOccurs="0" name="conditionInfo" nillable="true" type="q19:CAB12_01ConditionReportInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FindAndDisplayCAB12_01DetailResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q20="http://schemas.datacontract.org/2004/07/PEA.BPM.AgencyManagementModule.Interface.BusinessEntities" minOccurs="0" name="FindAndDisplayCAB12_01DetailResult" nillable="true" type="q20:ArrayOfCAB12_01DetailReportInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FindAndDisplayCAB12_01Detail_Compress">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q21="http://schemas.datacontract.org/2004/07/PEA.BPM.Architecture.CommonUtilities" minOccurs="0" name="conditionInfo" nillable="true" type="q21:CompressData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FindAndDisplayCAB12_01Detail_CompressResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q22="http://schemas.datacontract.org/2004/07/PEA.BPM.Architecture.CommonUtilities" minOccurs="0" name="FindAndDisplayCAB12_01Detail_CompressResult" nillable="true" type="q22:CompressData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FindAndDisplayCAB12_01Header">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q23="http://schemas.datacontract.org/2004/07/PEA.BPM.AgencyManagementModule.Interface.BusinessEntities" minOccurs="0" name="detail" nillable="true" type="q23:ArrayOfCAB12_01DetailReportInfo" />
        <xs:element minOccurs="0" name="branchName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="branchId" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FindAndDisplayCAB12_01HeaderResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q24="http://schemas.datacontract.org/2004/07/PEA.BPM.AgencyManagementModule.Interface.BusinessEntities" minOccurs="0" name="FindAndDisplayCAB12_01HeaderResult" nillable="true" type="q24:CAB12_01HeaderReportInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FindAndDisplayCAB12_01Header_Compress">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q25="http://schemas.datacontract.org/2004/07/PEA.BPM.Architecture.CommonUtilities" minOccurs="0" name="detail" nillable="true" type="q25:CompressData" />
        <xs:element minOccurs="0" name="branchName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="branchId" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FindAndDisplayCAB12_01Header_CompressResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q26="http://schemas.datacontract.org/2004/07/PEA.BPM.Architecture.CommonUtilities" minOccurs="0" name="FindAndDisplayCAB12_01Header_CompressResult" nillable="true" type="q26:CompressData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FindAndDisplayCAN34_01Detail">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q27="http://schemas.datacontract.org/2004/07/PEA.BPM.AgencyManagementModule.Interface.BusinessEntities" minOccurs="0" name="conditionInfo" nillable="true" type="q27:CAN34_01CondtionReportInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FindAndDisplayCAN34_01DetailResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q28="http://schemas.datacontract.org/2004/07/PEA.BPM.AgencyManagementModule.Interface.BusinessEntities" minOccurs="0" name="FindAndDisplayCAN34_01DetailResult" nillable="true" type="q28:ArrayOfCAN34_01DetailReportInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FindAndDisplayCAN34_01Detail_Compress">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q29="http://schemas.datacontract.org/2004/07/PEA.BPM.Architecture.CommonUtilities" minOccurs="0" name="conditionInfo" nillable="true" type="q29:CompressData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FindAndDisplayCAN34_01Detail_CompressResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q30="http://schemas.datacontract.org/2004/07/PEA.BPM.Architecture.CommonUtilities" minOccurs="0" name="FindAndDisplayCAN34_01Detail_CompressResult" nillable="true" type="q30:CompressData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetBillKeeperNameByBillBook">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="billBookId" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetBillKeeperNameByBillBookResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetBillKeeperNameByBillBookResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetIntownReceive">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="billBookId" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetIntownReceiveResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetIntownReceiveResult" nillable="true" type="xs:decimal" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FindAndDisplayCAB12_02Detail">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q31="http://schemas.datacontract.org/2004/07/PEA.BPM.AgencyManagementModule.Interface.BusinessEntities" minOccurs="0" name="conditionInfo" nillable="true" type="q31:CAB12_01ConditionReportInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FindAndDisplayCAB12_02DetailResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q32="http://schemas.datacontract.org/2004/07/PEA.BPM.AgencyManagementModule.Interface.BusinessEntities" minOccurs="0" name="FindAndDisplayCAB12_02DetailResult" nillable="true" type="q32:ArrayOfCAB12_02DetailReportInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FindAndDisplayCAB12_02Detail_Compress">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q33="http://schemas.datacontract.org/2004/07/PEA.BPM.Architecture.CommonUtilities" minOccurs="0" name="conditionInfo" nillable="true" type="q33:CompressData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FindAndDisplayCAB12_02Detail_CompressResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q34="http://schemas.datacontract.org/2004/07/PEA.BPM.Architecture.CommonUtilities" minOccurs="0" name="FindAndDisplayCAB12_02Detail_CompressResult" nillable="true" type="q34:CompressData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FindAndDisplayCAB03_02Report_Compress">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q35="http://schemas.datacontract.org/2004/07/PEA.BPM.Architecture.CommonUtilities" minOccurs="0" name="conditionInfo" nillable="true" type="q35:CompressData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FindAndDisplayCAB03_02Report_CompressResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q36="http://schemas.datacontract.org/2004/07/PEA.BPM.Architecture.CommonUtilities" minOccurs="0" name="FindAndDisplayCAB03_02Report_CompressResult" nillable="true" type="q36:CompressData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FindAndDisplayCAB03_03Report_Compress">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q37="http://schemas.datacontract.org/2004/07/PEA.BPM.Architecture.CommonUtilities" minOccurs="0" name="condition" nillable="true" type="q37:CompressData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FindAndDisplayCAB03_03Report_CompressResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q38="http://schemas.datacontract.org/2004/07/PEA.BPM.Architecture.CommonUtilities" minOccurs="0" name="FindAndDisplayCAB03_03Report_CompressResult" nillable="true" type="q38:CompressData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FindAndDisplayCAB03_04Report_Compress">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q39="http://schemas.datacontract.org/2004/07/PEA.BPM.Architecture.CommonUtilities" minOccurs="0" name="condition" nillable="true" type="q39:CompressData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FindAndDisplayCAB03_04Report_CompressResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q40="http://schemas.datacontract.org/2004/07/PEA.BPM.Architecture.CommonUtilities" minOccurs="0" name="FindAndDisplayCAB03_04Report_CompressResult" nillable="true" type="q40:CompressData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetBillBookInfoReport_Compress">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q41="http://schemas.datacontract.org/2004/07/PEA.BPM.Architecture.CommonUtilities" minOccurs="0" name="condition" nillable="true" type="q41:CompressData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetBillBookInfoReport_CompressResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q42="http://schemas.datacontract.org/2004/07/PEA.BPM.Architecture.CommonUtilities" minOccurs="0" name="GetBillBookInfoReport_CompressResult" nillable="true" type="q42:CompressData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRptCAB13_01RptInfo_Commpress">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q43="http://schemas.datacontract.org/2004/07/PEA.BPM.AgencyManagementModule.Interface.BusinessEntities" minOccurs="0" name="condition" nillable="true" type="q43:CAB13_01ConditionRptInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRptCAB13_01RptInfo_CommpressResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q44="http://schemas.datacontract.org/2004/07/PEA.BPM.Architecture.CommonUtilities" minOccurs="0" name="GetRptCAB13_01RptInfo_CommpressResult" nillable="true" type="q44:CompressData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetBillBookDetailReportList">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="billBookId" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetBillBookDetailReportListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q45="http://schemas.datacontract.org/2004/07/PEA.BPM.AgencyManagementModule.Interface.BusinessEntities" minOccurs="0" name="GetBillBookDetailReportListResult" nillable="true" type="q45:ArrayOfBillBookDetailReportListInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetBillBookDetailReportList_Compress">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="billBookId" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetBillBookDetailReportList_CompressResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q46="http://schemas.datacontract.org/2004/07/PEA.BPM.Architecture.CommonUtilities" minOccurs="0" name="GetBillBookDetailReportList_CompressResult" nillable="true" type="q46:CompressData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetBillBookInfoDetailReport">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="billBookId" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetBillBookInfoDetailReportResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q47="http://schemas.datacontract.org/2004/07/PEA.BPM.AgencyManagementModule.Interface.BusinessEntities" minOccurs="0" name="GetBillBookInfoDetailReportResult" nillable="true" type="q47:ArrayOfBillBookInfoDetailReport" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetBillBookInfoDetailReport_Compress">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="billBookId" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetBillBookInfoDetailReport_CompressResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q48="http://schemas.datacontract.org/2004/07/PEA.BPM.Architecture.CommonUtilities" minOccurs="0" name="GetBillBookInfoDetailReport_CompressResult" nillable="true" type="q48:CompressData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAgencyMoneyReturnReport">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="agencyIdFrom" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="agencyIdTo" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="periodFrom" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="periodTo" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="branchId" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAgencyMoneyReturnReportResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q49="http://schemas.datacontract.org/2004/07/PEA.BPM.AgencyManagementModule.Interface.BusinessEntities" minOccurs="0" name="GetAgencyMoneyReturnReportResult" nillable="true" type="q49:ArrayOfCAB02_DetailReportInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAgencyMoneyReturnReport_Compress">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="agencyIdFrom" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="agencyIdTo" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="periodFrom" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="periodTo" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="branchId" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAgencyMoneyReturnReport_CompressResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q50="http://schemas.datacontract.org/2004/07/PEA.BPM.Architecture.CommonUtilities" minOccurs="0" name="GetAgencyMoneyReturnReport_CompressResult" nillable="true" type="q50:CompressData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAgencyBillCollectionReport">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="period" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="branchId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="branchName" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAgencyBillCollectionReportResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q51="http://schemas.datacontract.org/2004/07/PEA.BPM.AgencyManagementModule.Interface.BusinessEntities" minOccurs="0" name="GetAgencyBillCollectionReportResult" nillable="true" type="q51:ArrayOfAgencyBillCollectionMasterReport" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAgencyBillCollectionReport_Compress">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="period" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="branchId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="branchName" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAgencyBillCollectionReport_CompressResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q52="http://schemas.datacontract.org/2004/07/PEA.BPM.Architecture.CommonUtilities" minOccurs="0" name="GetAgencyBillCollectionReport_CompressResult" nillable="true" type="q52:CompressData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAdvPaidByBillBookId">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="billBookId" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAdvPaidByBillBookIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetAdvPaidByBillBookIdResult" type="xs:decimal" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FindAndDisplayAgencyCommissionReportInfo">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q53="http://schemas.datacontract.org/2004/07/PEA.BPM.AgencyManagementModule.Interface.BusinessEntities" minOccurs="0" name="commissionCoditionInfo" nillable="true" type="q53:CommissionVoucherConditionPrintReport" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FindAndDisplayAgencyCommissionReportInfoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q54="http://schemas.datacontract.org/2004/07/PEA.BPM.AgencyManagementModule.Interface.BusinessEntities" minOccurs="0" name="FindAndDisplayAgencyCommissionReportInfoResult" nillable="true" type="q54:ArrayOfCommissionVoucherInfoReport" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FindAndDisplayAgencyCommissionReportInfo_Compress">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q55="http://schemas.datacontract.org/2004/07/PEA.BPM.Architecture.CommonUtilities" minOccurs="0" name="commissionCoditionInfo" nillable="true" type="q55:CompressData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FindAndDisplayAgencyCommissionReportInfo_CompressResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q56="http://schemas.datacontract.org/2004/07/PEA.BPM.Architecture.CommonUtilities" minOccurs="0" name="FindAndDisplayAgencyCommissionReportInfo_CompressResult" nillable="true" type="q56:CompressData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FindAndDisplayAgencyCommissionRegistryReportInfo">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q57="http://schemas.datacontract.org/2004/07/PEA.BPM.AgencyManagementModule.Interface.BusinessEntities" minOccurs="0" name="commissionCoditionInfo" nillable="true" type="q57:CommissionVoucherConditionPrintReport" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FindAndDisplayAgencyCommissionRegistryReportInfoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q58="http://schemas.datacontract.org/2004/07/PEA.BPM.AgencyManagementModule.Interface.BusinessEntities" minOccurs="0" name="FindAndDisplayAgencyCommissionRegistryReportInfoResult" nillable="true" type="q58:ArrayOfCommissionRegistInfoReport" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FindAndDisplayAgencyCommissionRegistryReportInfo_Compress">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q59="http://schemas.datacontract.org/2004/07/PEA.BPM.Architecture.CommonUtilities" minOccurs="0" name="commissionCoditionInfo" nillable="true" type="q59:CompressData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FindAndDisplayAgencyCommissionRegistryReportInfo_CompressResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q60="http://schemas.datacontract.org/2004/07/PEA.BPM.Architecture.CommonUtilities" minOccurs="0" name="FindAndDisplayAgencyCommissionRegistryReportInfo_CompressResult" nillable="true" type="q60:CompressData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FindCommissionRegistryDetailReport">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q61="http://schemas.datacontract.org/2004/07/PEA.BPM.AgencyManagementModule.Interface.BusinessEntities" minOccurs="0" name="commissionConditionInfo" nillable="true" type="q61:CommissionVoucherConditionPrintReport" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FindCommissionRegistryDetailReportResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q62="http://schemas.datacontract.org/2004/07/PEA.BPM.AgencyManagementModule.Interface.BusinessEntities" minOccurs="0" name="FindCommissionRegistryDetailReportResult" nillable="true" type="q62:ArrayOfCAB04_03DetailReportInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FindCommissionRegistryDetailReport_Compress">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q63="http://schemas.datacontract.org/2004/07/PEA.BPM.Architecture.CommonUtilities" minOccurs="0" name="commissionConditionInfo" nillable="true" type="q63:CompressData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FindCommissionRegistryDetailReport_CompressResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q64="http://schemas.datacontract.org/2004/07/PEA.BPM.Architecture.CommonUtilities" minOccurs="0" name="FindCommissionRegistryDetailReport_CompressResult" nillable="true" type="q64:CompressData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FindAndDisplayPasteBillStatus">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q65="http://schemas.datacontract.org/2004/07/PEA.BPM.AgencyManagementModule.Interface.BusinessEntities" minOccurs="0" name="conditionPrintInfo" nillable="true" type="q65:CheckInBillBookConditionInfoReport" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FindAndDisplayPasteBillStatusResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q66="http://schemas.datacontract.org/2004/07/PEA.BPM.AgencyManagementModule.Interface.BusinessEntities" minOccurs="0" name="FindAndDisplayPasteBillStatusResult" nillable="true" type="q66:ArrayOfReturnBillBookBillPasteStatusReportInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FindAndDisplayPasteBillStatus_Compress">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q67="http://schemas.datacontract.org/2004/07/PEA.BPM.Architecture.CommonUtilities" minOccurs="0" name="conditionPrintInfo" nillable="true" type="q67:CompressData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FindAndDisplayPasteBillStatus_CompressResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q68="http://schemas.datacontract.org/2004/07/PEA.BPM.Architecture.CommonUtilities" minOccurs="0" name="FindAndDisplayPasteBillStatus_CompressResult" nillable="true" type="q68:CompressData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FindDisplayIssueBillARInfoDetail">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q69="http://schemas.datacontract.org/2004/07/PEA.BPM.AgencyManagementModule.Interface.BusinessEntities" minOccurs="0" name="conditionPrintInfo" nillable="true" type="q69:CheckInBillBookConditionInfoReport" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FindDisplayIssueBillARInfoDetailResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q70="http://schemas.datacontract.org/2004/07/PEA.BPM.AgencyManagementModule.Interface.BusinessEntities" minOccurs="0" name="FindDisplayIssueBillARInfoDetailResult" nillable="true" type="q70:CAB03_02DetailReportInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FindDisplayIssueBillARInfoDetail_Compress">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q71="http://schemas.datacontract.org/2004/07/PEA.BPM.Architecture.CommonUtilities" minOccurs="0" name="conditionPrintInfo" nillable="true" type="q71:CompressData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FindDisplayIssueBillARInfoDetail_CompressResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q72="http://schemas.datacontract.org/2004/07/PEA.BPM.Architecture.CommonUtilities" minOccurs="0" name="FindDisplayIssueBillARInfoDetail_CompressResult" nillable="true" type="q72:CompressData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FindDetailOfDataIntoRev701460Report">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q73="http://schemas.datacontract.org/2004/07/PEA.BPM.AgencyManagementModule.Interface.BusinessEntities" minOccurs="0" name="myCondition" nillable="true" type="q73:KeepMoneyPlaneOfAgencyConditionInfoReport" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FindDetailOfDataIntoRev701460ReportResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q74="http://schemas.datacontract.org/2004/07/PEA.BPM.AgencyManagementModule.Interface.BusinessEntities" minOccurs="0" name="FindDetailOfDataIntoRev701460ReportResult" nillable="true" type="q74:ArrayOfCAB07_01DetailReportInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FindDetailOfDataIntoRev701460Report_Compress">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q75="http://schemas.datacontract.org/2004/07/PEA.BPM.Architecture.CommonUtilities" minOccurs="0" name="myCondition" nillable="true" type="q75:CompressData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FindDetailOfDataIntoRev701460Report_CompressResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q76="http://schemas.datacontract.org/2004/07/PEA.BPM.Architecture.CommonUtilities" minOccurs="0" name="FindDetailOfDataIntoRev701460Report_CompressResult" nillable="true" type="q76:CompressData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FindDetailOfDataIntoRev701461Report">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q77="http://schemas.datacontract.org/2004/07/PEA.BPM.AgencyManagementModule.Interface.BusinessEntities" minOccurs="0" name="myCondition" nillable="true" type="q77:KeepMoneyPlaneOfAgencyConditionInfoReport" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FindDetailOfDataIntoRev701461ReportResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q78="http://schemas.datacontract.org/2004/07/PEA.BPM.AgencyManagementModule.Interface.BusinessEntities" minOccurs="0" name="FindDetailOfDataIntoRev701461ReportResult" nillable="true" type="q78:ArrayOfCAB08_01DetailReportInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FindDetailOfDataIntoRev701461Report_Compress">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q79="http://schemas.datacontract.org/2004/07/PEA.BPM.Architecture.CommonUtilities" minOccurs="0" name="myCondition" nillable="true" type="q79:CompressData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FindDetailOfDataIntoRev701461Report_CompressResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q80="http://schemas.datacontract.org/2004/07/PEA.BPM.Architecture.CommonUtilities" minOccurs="0" name="FindDetailOfDataIntoRev701461Report_CompressResult" nillable="true" type="q80:CompressData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FindAgentListIntoRev701461Report">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q81="http://schemas.datacontract.org/2004/07/PEA.BPM.AgencyManagementModule.Interface.BusinessEntities" minOccurs="0" name="myCondition" nillable="true" type="q81:KeepMoneyPlaneOfAgencyConditionInfoReport" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FindAgentListIntoRev701461ReportResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q82="http://schemas.datacontract.org/2004/07/PEA.BPM.AgencyManagementModule.Interface.BusinessEntities" minOccurs="0" name="FindAgentListIntoRev701461ReportResult" nillable="true" type="q82:ArrayOfCAB08_01AgencyInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FindAgentListIntoRev701461Report_Compress">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q83="http://schemas.datacontract.org/2004/07/PEA.BPM.Architecture.CommonUtilities" minOccurs="0" name="myCondition" nillable="true" type="q83:CompressData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FindAgentListIntoRev701461Report_CompressResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q84="http://schemas.datacontract.org/2004/07/PEA.BPM.Architecture.CommonUtilities" minOccurs="0" name="FindAgentListIntoRev701461Report_CompressResult" nillable="true" type="q84:CompressData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FindDetailOfDataIntoRev701462Report">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q85="http://schemas.datacontract.org/2004/07/PEA.BPM.AgencyManagementModule.Interface.BusinessEntities" minOccurs="0" name="myCondition" nillable="true" type="q85:KeepMoneyPlaneOfAgencyConditionInfoReport" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FindDetailOfDataIntoRev701462ReportResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q86="http://schemas.datacontract.org/2004/07/PEA.BPM.AgencyManagementModule.Interface.BusinessEntities" minOccurs="0" name="FindDetailOfDataIntoRev701462ReportResult" nillable="true" type="q86:ArrayOfCAB09_01DetailReportInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FindDetailOfDataIntoRev701462Report_Compress">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q87="http://schemas.datacontract.org/2004/07/PEA.BPM.Architecture.CommonUtilities" minOccurs="0" name="myCondition" nillable="true" type="q87:CompressData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FindDetailOfDataIntoRev701462Report_CompressResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q88="http://schemas.datacontract.org/2004/07/PEA.BPM.Architecture.CommonUtilities" minOccurs="0" name="FindDetailOfDataIntoRev701462Report_CompressResult" nillable="true" type="q88:CompressData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FindDetailOfDataIntoRev701463Report">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q89="http://schemas.datacontract.org/2004/07/PEA.BPM.AgencyManagementModule.Interface.BusinessEntities" minOccurs="0" name="myCondition" nillable="true" type="q89:KeepMoneyPlaneOfAgencyConditionInfoReport" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FindDetailOfDataIntoRev701463ReportResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q90="http://schemas.datacontract.org/2004/07/PEA.BPM.AgencyManagementModule.Interface.BusinessEntities" minOccurs="0" name="FindDetailOfDataIntoRev701463ReportResult" nillable="true" type="q90:ArrayOfCAB08_02DetailReportInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FindDetailOfDataIntoRev701463Report_Compress">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q91="http://schemas.datacontract.org/2004/07/PEA.BPM.Architecture.CommonUtilities" minOccurs="0" name="myCondition" nillable="true" type="q91:CompressData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FindDetailOfDataIntoRev701463Report_CompressResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q92="http://schemas.datacontract.org/2004/07/PEA.BPM.Architecture.CommonUtilities" minOccurs="0" name="FindDetailOfDataIntoRev701463Report_CompressResult" nillable="true" type="q92:CompressData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FindDetailOfDataIntoRev701464Report">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q93="http://schemas.datacontract.org/2004/07/PEA.BPM.AgencyManagementModule.Interface.BusinessEntities" minOccurs="0" name="myCondition" nillable="true" type="q93:KeepMoneyPlaneOfAgencyConditionInfoReport" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FindDetailOfDataIntoRev701464ReportResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q94="http://schemas.datacontract.org/2004/07/PEA.BPM.AgencyManagementModule.Interface.BusinessEntities" minOccurs="0" name="FindDetailOfDataIntoRev701464ReportResult" nillable="true" type="q94:ArrayOfCAB10_01DetailReportInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FindDetailOfDataIntoRev701464Report_Compress">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q95="http://schemas.datacontract.org/2004/07/PEA.BPM.Architecture.CommonUtilities" minOccurs="0" name="myCondition" nillable="true" type="q95:CompressData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FindDetailOfDataIntoRev701464Report_CompressResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q96="http://schemas.datacontract.org/2004/07/PEA.BPM.Architecture.CommonUtilities" minOccurs="0" name="FindDetailOfDataIntoRev701464Report_CompressResult" nillable="true" type="q96:CompressData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FindAndDisplayCAB06_01Header">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q97="http://schemas.datacontract.org/2004/07/PEA.BPM.AgencyManagementModule.Interface.BusinessEntities" minOccurs="0" name="myComdition" nillable="true" type="q97:EvaluateAgencyReportCondition" />
        <xs:element xmlns:q98="http://schemas.datacontract.org/2004/07/PEA.BPM.AgencyManagementModule.Interface.BusinessEntities" minOccurs="0" name="reportDetail" nillable="true" type="q98:ArrayOfCAB06_01DetailReportInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FindAndDisplayCAB06_01HeaderResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q99="http://schemas.datacontract.org/2004/07/PEA.BPM.AgencyManagementModule.Interface.BusinessEntities" minOccurs="0" name="FindAndDisplayCAB06_01HeaderResult" nillable="true" type="q99:CAB06_01HeaderReportInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FindAndDisplayCAB06_01Header_Compress">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q100="http://schemas.datacontract.org/2004/07/PEA.BPM.Architecture.CommonUtilities" minOccurs="0" name="myComdition" nillable="true" type="q100:CompressData" />
        <xs:element xmlns:q101="http://schemas.datacontract.org/2004/07/PEA.BPM.Architecture.CommonUtilities" minOccurs="0" name="reportDetail" nillable="true" type="q101:CompressData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FindAndDisplayCAB06_01Header_CompressResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q102="http://schemas.datacontract.org/2004/07/PEA.BPM.Architecture.CommonUtilities" minOccurs="0" name="FindAndDisplayCAB06_01Header_CompressResult" nillable="true" type="q102:CompressData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FindAndDisplayCAB06_01Detail">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q103="http://schemas.datacontract.org/2004/07/PEA.BPM.AgencyManagementModule.Interface.BusinessEntities" minOccurs="0" name="myComdition" nillable="true" type="q103:EvaluateAgencyReportCondition" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FindAndDisplayCAB06_01DetailResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q104="http://schemas.datacontract.org/2004/07/PEA.BPM.AgencyManagementModule.Interface.BusinessEntities" minOccurs="0" name="FindAndDisplayCAB06_01DetailResult" nillable="true" type="q104:ArrayOfCAB06_01DetailReportInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FindAndDisplayCAB06_01Detail_Compress">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q105="http://schemas.datacontract.org/2004/07/PEA.BPM.Architecture.CommonUtilities" minOccurs="0" name="myComdition" nillable="true" type="q105:CompressData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FindAndDisplayCAB06_01Detail_CompressResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q106="http://schemas.datacontract.org/2004/07/PEA.BPM.Architecture.CommonUtilities" minOccurs="0" name="FindAndDisplayCAB06_01Detail_CompressResult" nillable="true" type="q106:CompressData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FindAndDisplayCAB03_Header">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q107="http://schemas.datacontract.org/2004/07/PEA.BPM.AgencyManagementModule.Interface.BusinessEntities" minOccurs="0" name="conditionPrintInfo" nillable="true" type="q107:CheckInBillBookConditionInfoReport" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FindAndDisplayCAB03_HeaderResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q108="http://schemas.datacontract.org/2004/07/PEA.BPM.AgencyManagementModule.Interface.BusinessEntities" minOccurs="0" name="FindAndDisplayCAB03_HeaderResult" nillable="true" type="q108:CAB03_HeaderReportInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>