CODING/Source/BPMIntegration/BPMIntegration.SG/Service References/NotificationWCFService/NotificationWCFService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org" elementFormDefault="qualified" targetNamespace="http://tempuri.org" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="SendNotificationToEmail">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="_errorId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="_errorMsg" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="_severity" type="xs:int" />
        <xs:element minOccurs="0" name="_jobId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="_interfaceId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="_row" type="xs:int" />
        <xs:element minOccurs="0" name="_branchId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="_suggMsg" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SendNotificationToEmailResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
</xs:schema>