CODING/Source/ToolModule/AdministrativeTool/Web References/OfflineErrorLogWS/OfflineErrorLogWebService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="GetOfflineErrorLogDisplay">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="datetime" type="s:dateTime" />
            <s:element minOccurs="0" maxOccurs="1" name="active" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetOfflineErrorLogDisplayResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetOfflineErrorLogDisplayResult">
              <s:complexType>
                <s:sequence>
                  <s:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
                  <s:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UpdateLogStatus">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="fileName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="status" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UpdateLogStatusResponse">
        <s:complexType />
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="GetOfflineErrorLogDisplaySoapIn">
    <wsdl:part name="parameters" element="tns:GetOfflineErrorLogDisplay" />
  </wsdl:message>
  <wsdl:message name="GetOfflineErrorLogDisplaySoapOut">
    <wsdl:part name="parameters" element="tns:GetOfflineErrorLogDisplayResponse" />
  </wsdl:message>
  <wsdl:message name="UpdateLogStatusSoapIn">
    <wsdl:part name="parameters" element="tns:UpdateLogStatus" />
  </wsdl:message>
  <wsdl:message name="UpdateLogStatusSoapOut">
    <wsdl:part name="parameters" element="tns:UpdateLogStatusResponse" />
  </wsdl:message>
  <wsdl:portType name="OfflineErrorLogWebServiceSoap">
    <wsdl:operation name="GetOfflineErrorLogDisplay">
      <wsdl:input message="tns:GetOfflineErrorLogDisplaySoapIn" />
      <wsdl:output message="tns:GetOfflineErrorLogDisplaySoapOut" />
    </wsdl:operation>
    <wsdl:operation name="UpdateLogStatus">
      <wsdl:input message="tns:UpdateLogStatusSoapIn" />
      <wsdl:output message="tns:UpdateLogStatusSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="OfflineErrorLogWebServiceSoap" type="tns:OfflineErrorLogWebServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetOfflineErrorLogDisplay">
      <soap:operation soapAction="http://tempuri.org/GetOfflineErrorLogDisplay" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateLogStatus">
      <soap:operation soapAction="http://tempuri.org/UpdateLogStatus" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="OfflineErrorLogWebServiceSoap12" type="tns:OfflineErrorLogWebServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetOfflineErrorLogDisplay">
      <soap12:operation soapAction="http://tempuri.org/GetOfflineErrorLogDisplay" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateLogStatus">
      <soap12:operation soapAction="http://tempuri.org/UpdateLogStatus" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="OfflineErrorLogWebService">
    <wsdl:port name="OfflineErrorLogWebServiceSoap" binding="tns:OfflineErrorLogWebServiceSoap">
      <soap:address location="http://localhost/AdminToolService/OfflineErrorLog/OfflineErrorLogWebService.asmx" />
    </wsdl:port>
    <wsdl:port name="OfflineErrorLogWebServiceSoap12" binding="tns:OfflineErrorLogWebServiceSoap12">
      <soap12:address location="http://localhost/AdminToolService/OfflineErrorLog/OfflineErrorLogWebService.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>