CODING/Source/SmartPlus/PaymentSmartPlus.SG/Service References/BillingWCF/BillingWCFService94.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/PEA.BPM.Infrastructure.Interface.BusinessEntities" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/PEA.BPM.Infrastructure.Interface.BusinessEntities" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="OpenWorkParam">
    <xs:sequence>
      <xs:element minOccurs="0" name="CashierId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CashierName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="BranchId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PosId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TerminalCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FlowId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FlowType" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Status" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ModifiedBy" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Input" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PostedBranchId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IsSystemInit" type="xs:boolean" />
      <xs:element minOccurs="0" name="PaymentDt" type="xs:dateTime" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="OpenWorkParam" nillable="true" type="tns:OpenWorkParam" />
  <xs:complexType name="Bank">
    <xs:sequence>
      <xs:element minOccurs="0" name="BankKey" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="BankName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="BusinessPlace" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ClearingAccNo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="GroupBankName" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Bank" nillable="true" type="tns:Bank" />
</xs:schema>