CODING/Source/BPMIntegration/BPMIntegration.SG/Web References/ExportTabULWS/ExportTableIntegrationWebService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="UploadExportTransactionLog">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="cds" type="tns:CompressData" />
            <s:element minOccurs="0" maxOccurs="1" name="branchId" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="CompressData">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="OriginalSize" type="s:long" />
          <s:element minOccurs="1" maxOccurs="1" name="CompressSize" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="Data" type="s:base64Binary" />
        </s:sequence>
      </s:complexType>
      <s:element name="UploadExportTransactionLogResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="UploadExportTransactionLogResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AuthenInfo" type="tns:AuthenInfo" />
      <s:complexType name="AuthenInfo">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="UserId" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="AuthToken" type="s:string" />
        </s:sequence>
        <s:anyAttribute />
      </s:complexType>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="UploadExportTransactionLogSoapIn">
    <wsdl:part name="parameters" element="tns:UploadExportTransactionLog" />
  </wsdl:message>
  <wsdl:message name="UploadExportTransactionLogSoapOut">
    <wsdl:part name="parameters" element="tns:UploadExportTransactionLogResponse" />
  </wsdl:message>
  <wsdl:message name="UploadExportTransactionLogAuthenInfo">
    <wsdl:part name="AuthenInfo" element="tns:AuthenInfo" />
  </wsdl:message>
  <wsdl:portType name="ExportTableIntegrationWebServiceSoap">
    <wsdl:operation name="UploadExportTransactionLog">
      <wsdl:input message="tns:UploadExportTransactionLogSoapIn" />
      <wsdl:output message="tns:UploadExportTransactionLogSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ExportTableIntegrationWebServiceSoap" type="tns:ExportTableIntegrationWebServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="UploadExportTransactionLog">
      <soap:operation soapAction="http://tempuri.org/UploadExportTransactionLog" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="tns:UploadExportTransactionLogAuthenInfo" part="AuthenInfo" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="ExportTableIntegrationWebServiceSoap12" type="tns:ExportTableIntegrationWebServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="UploadExportTransactionLog">
      <soap12:operation soapAction="http://tempuri.org/UploadExportTransactionLog" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
        <soap12:header message="tns:UploadExportTransactionLogAuthenInfo" part="AuthenInfo" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ExportTableIntegrationWebService">
    <wsdl:port name="ExportTableIntegrationWebServiceSoap" binding="tns:ExportTableIntegrationWebServiceSoap">
      <soap:address location="http://localhost/BPMIntegrationService/ExportTableIntegrationWebService.asmx" />
    </wsdl:port>
    <wsdl:port name="ExportTableIntegrationWebServiceSoap12" binding="tns:ExportTableIntegrationWebServiceSoap12">
      <soap12:address location="http://localhost/BPMIntegrationService/ExportTableIntegrationWebService.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>