CODING/Source/ePayments/ePaymentsModule.SG/Service References/ReceiptPrintingWCF/ReceiptPrintingWCFService5.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/PEA.BPM.ePaymentsModule.Interface.BusinessEntities" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/PEA.BPM.ePaymentsModule.Interface.BusinessEntities" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="EPayUpload">
    <xs:sequence>
      <xs:element minOccurs="0" name="FileId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FileName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UploadDt" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Companys" nillable="true" type="tns:Company" />
      <xs:element minOccurs="0" name="CompanyId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CompanyName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="BillCount" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="BillAmount" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="TotalBillCount" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="TotalBillAmount" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="SyncFlag" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PostDt" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="PostBranchId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ModifiedDt" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="ModifiedBy" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Active" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PosId" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="EPayUpload" nillable="true" type="tns:EPayUpload" />
  <xs:complexType name="Company">
    <xs:sequence>
      <xs:element minOccurs="0" name="CompanyId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CompanyName" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Company" nillable="true" type="tns:Company" />
</xs:schema>