CODING/Source/ePayments/ePaymentsModule.SG/Service References/ReceiptPrintingWCF/ReceiptPrintingWCFService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org" elementFormDefault="qualified" targetNamespace="http://tempuri.org" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost/BPMService/ePayment/ReceiptPrintingWCFService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/PEA.BPM.ePaymentsModule.Interface.BusinessEntities.ReceiptPrinting" />
  <xs:import schemaLocation="http://localhost/BPMService/ePayment/ReceiptPrintingWCFService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/PEA.BPM.Architecture.CommonUtilities" />
  <xs:import schemaLocation="http://localhost/BPMService/ePayment/ReceiptPrintingWCFService.svc?xsd=xsd6" namespace="http://schemas.datacontract.org/2004/07/PEA.BPM.ePaymentsModule.Interface.BusinessEntities" />
  <xs:element name="PrintGreenBill">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/PEA.BPM.ePaymentsModule.Interface.BusinessEntities.ReceiptPrinting" minOccurs="0" name="param" nillable="true" type="q1:ReceiptConditionParam" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PrintGreenBillResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/PEA.BPM.Architecture.CommonUtilities" minOccurs="0" name="PrintGreenBillResult" nillable="true" type="q2:CompressData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPPrintedService">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/PEA.BPM.ePaymentsModule.Interface.BusinessEntities.ReceiptPrinting" minOccurs="0" name="param" nillable="true" type="q3:PPrintedReceiptParam" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPPrintedServiceResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/PEA.BPM.Architecture.CommonUtilities" minOccurs="0" name="GetPPrintedServiceResult" nillable="true" type="q4:CompressData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAgentAllService">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAgentAllServiceResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/PEA.BPM.Architecture.CommonUtilities" minOccurs="0" name="GetAgentAllServiceResult" nillable="true" type="q5:CompressData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SearchAgentPaymentNumber">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/PEA.BPM.ePaymentsModule.Interface.BusinessEntities" minOccurs="0" name="param" nillable="true" type="q6:EPayUpload" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SearchAgentPaymentNumberResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/PEA.BPM.Architecture.CommonUtilities" minOccurs="0" name="SearchAgentPaymentNumberResult" nillable="true" type="q7:CompressData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SearchDebtClearify">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/PEA.BPM.ePaymentsModule.Interface.BusinessEntities.ReceiptPrinting" minOccurs="0" name="param" nillable="true" type="q8:PPrintedDeposit" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SearchDebtClearifyResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/PEA.BPM.Architecture.CommonUtilities" minOccurs="0" name="SearchDebtClearifyResult" nillable="true" type="q9:CompressData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCADepositPPrinted">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/PEA.BPM.Architecture.CommonUtilities" minOccurs="0" name="param" nillable="true" type="q10:CompressData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCADepositPPrintedResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/PEA.BPM.Architecture.CommonUtilities" minOccurs="0" name="GetCADepositPPrintedResult" nillable="true" type="q11:CompressData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAgentDepositPPrinted">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/PEA.BPM.Architecture.CommonUtilities" minOccurs="0" name="param" nillable="true" type="q12:CompressData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAgentDepositPPrintedResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q13="http://schemas.datacontract.org/2004/07/PEA.BPM.Architecture.CommonUtilities" minOccurs="0" name="GetAgentDepositPPrintedResult" nillable="true" type="q13:CompressData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>