CODING/Source/BPMIntegration/BPMIntegration.SG/Web References/CashULWS/CashManagementWebService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="UploadCashierWorkStatus">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="cds" type="tns:CompressData" />
            <s:element minOccurs="0" maxOccurs="1" name="branchId" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="CompressData">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="OriginalSize" type="s:long" />
          <s:element minOccurs="1" maxOccurs="1" name="CompressSize" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="Data" type="s:base64Binary" />
        </s:sequence>
      </s:complexType>
      <s:element name="UploadCashierWorkStatusResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="UploadCashierWorkStatusResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AuthenInfo" type="tns:AuthenInfo" />
      <s:complexType name="AuthenInfo">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="UserId" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="AuthToken" type="s:string" />
        </s:sequence>
        <s:anyAttribute />
      </s:complexType>
      <s:element name="UploadCashierMoneyTransfer">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="cds" type="tns:CompressData" />
            <s:element minOccurs="0" maxOccurs="1" name="branchId" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UploadCashierMoneyTransferResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="UploadCashierMoneyTransferResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UploadCashierMoneyFlow">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="cds" type="tns:CompressData" />
            <s:element minOccurs="0" maxOccurs="1" name="branchId" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UploadCashierMoneyFlowResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="UploadCashierMoneyFlowResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UploadCashierMoneyFlowItem">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="cds" type="tns:CompressData" />
            <s:element minOccurs="0" maxOccurs="1" name="branchId" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UploadCashierMoneyFlowItemResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="UploadCashierMoneyFlowItemResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="UploadCashierWorkStatusSoapIn">
    <wsdl:part name="parameters" element="tns:UploadCashierWorkStatus" />
  </wsdl:message>
  <wsdl:message name="UploadCashierWorkStatusSoapOut">
    <wsdl:part name="parameters" element="tns:UploadCashierWorkStatusResponse" />
  </wsdl:message>
  <wsdl:message name="UploadCashierWorkStatusAuthenInfo">
    <wsdl:part name="AuthenInfo" element="tns:AuthenInfo" />
  </wsdl:message>
  <wsdl:message name="UploadCashierMoneyTransferSoapIn">
    <wsdl:part name="parameters" element="tns:UploadCashierMoneyTransfer" />
  </wsdl:message>
  <wsdl:message name="UploadCashierMoneyTransferSoapOut">
    <wsdl:part name="parameters" element="tns:UploadCashierMoneyTransferResponse" />
  </wsdl:message>
  <wsdl:message name="UploadCashierMoneyTransferAuthenInfo">
    <wsdl:part name="AuthenInfo" element="tns:AuthenInfo" />
  </wsdl:message>
  <wsdl:message name="UploadCashierMoneyFlowSoapIn">
    <wsdl:part name="parameters" element="tns:UploadCashierMoneyFlow" />
  </wsdl:message>
  <wsdl:message name="UploadCashierMoneyFlowSoapOut">
    <wsdl:part name="parameters" element="tns:UploadCashierMoneyFlowResponse" />
  </wsdl:message>
  <wsdl:message name="UploadCashierMoneyFlowAuthenInfo">
    <wsdl:part name="AuthenInfo" element="tns:AuthenInfo" />
  </wsdl:message>
  <wsdl:message name="UploadCashierMoneyFlowItemSoapIn">
    <wsdl:part name="parameters" element="tns:UploadCashierMoneyFlowItem" />
  </wsdl:message>
  <wsdl:message name="UploadCashierMoneyFlowItemSoapOut">
    <wsdl:part name="parameters" element="tns:UploadCashierMoneyFlowItemResponse" />
  </wsdl:message>
  <wsdl:message name="UploadCashierMoneyFlowItemAuthenInfo">
    <wsdl:part name="AuthenInfo" element="tns:AuthenInfo" />
  </wsdl:message>
  <wsdl:portType name="CashManagementWebServiceSoap">
    <wsdl:operation name="UploadCashierWorkStatus">
      <wsdl:input message="tns:UploadCashierWorkStatusSoapIn" />
      <wsdl:output message="tns:UploadCashierWorkStatusSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="UploadCashierMoneyTransfer">
      <wsdl:input message="tns:UploadCashierMoneyTransferSoapIn" />
      <wsdl:output message="tns:UploadCashierMoneyTransferSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="UploadCashierMoneyFlow">
      <wsdl:input message="tns:UploadCashierMoneyFlowSoapIn" />
      <wsdl:output message="tns:UploadCashierMoneyFlowSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="UploadCashierMoneyFlowItem">
      <wsdl:input message="tns:UploadCashierMoneyFlowItemSoapIn" />
      <wsdl:output message="tns:UploadCashierMoneyFlowItemSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="CashManagementWebServiceSoap" type="tns:CashManagementWebServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="UploadCashierWorkStatus">
      <soap:operation soapAction="http://tempuri.org/UploadCashierWorkStatus" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="tns:UploadCashierWorkStatusAuthenInfo" part="AuthenInfo" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UploadCashierMoneyTransfer">
      <soap:operation soapAction="http://tempuri.org/UploadCashierMoneyTransfer" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="tns:UploadCashierMoneyTransferAuthenInfo" part="AuthenInfo" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UploadCashierMoneyFlow">
      <soap:operation soapAction="http://tempuri.org/UploadCashierMoneyFlow" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="tns:UploadCashierMoneyFlowAuthenInfo" part="AuthenInfo" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UploadCashierMoneyFlowItem">
      <soap:operation soapAction="http://tempuri.org/UploadCashierMoneyFlowItem" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="tns:UploadCashierMoneyFlowItemAuthenInfo" part="AuthenInfo" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="CashManagementWebServiceSoap12" type="tns:CashManagementWebServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="UploadCashierWorkStatus">
      <soap12:operation soapAction="http://tempuri.org/UploadCashierWorkStatus" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
        <soap12:header message="tns:UploadCashierWorkStatusAuthenInfo" part="AuthenInfo" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UploadCashierMoneyTransfer">
      <soap12:operation soapAction="http://tempuri.org/UploadCashierMoneyTransfer" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
        <soap12:header message="tns:UploadCashierMoneyTransferAuthenInfo" part="AuthenInfo" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UploadCashierMoneyFlow">
      <soap12:operation soapAction="http://tempuri.org/UploadCashierMoneyFlow" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
        <soap12:header message="tns:UploadCashierMoneyFlowAuthenInfo" part="AuthenInfo" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UploadCashierMoneyFlowItem">
      <soap12:operation soapAction="http://tempuri.org/UploadCashierMoneyFlowItem" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
        <soap12:header message="tns:UploadCashierMoneyFlowItemAuthenInfo" part="AuthenInfo" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="CashManagementWebService">
    <wsdl:port name="CashManagementWebServiceSoap" binding="tns:CashManagementWebServiceSoap">
      <soap:address location="http://localhost/BPMIntegrationUploadedService/CashManagementWebService.asmx" />
    </wsdl:port>
    <wsdl:port name="CashManagementWebServiceSoap12" binding="tns:CashManagementWebServiceSoap12">
      <soap12:address location="http://localhost/BPMIntegrationUploadedService/CashManagementWebService.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>