CODING/Source/Architecture/ArchitectureSG/Service References/ErrorHandlingWCF/ErrorHandlingWCFService51.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org" elementFormDefault="qualified" targetNamespace="http://tempuri.org" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost/BPMService/ARCH/ErrorHandlingWCFService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/PEA.BPM.Architecture.ArchitectureInterface.BusinessEntities" />
  <xs:element name="ReportAndSaveException">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/PEA.BPM.Architecture.ArchitectureInterface.BusinessEntities" minOccurs="0" name="excpetioninfo" nillable="true" type="q1:BPMApplicationExceptionInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ReportAndSaveExceptionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/PEA.BPM.Architecture.ArchitectureInterface.BusinessEntities" minOccurs="0" name="ReportAndSaveExceptionResult" nillable="true" type="q2:ExceptionDebugInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AcknowledgeException">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="debuggingid" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="updatestacktrace" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AcknowledgeExceptionResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
</xs:schema>